<div>
  <div align='center'>
    <button float-left margin ion-button (click)="buttonService.loadItemsWithAuth()"><ion-icon name="refresh"></ion-icon></button>
    <button float-left margin ion-button *ngIf="!buttonService.itemInCreation" (click)="buttonService.startItemCreate()"><ion-icon name="create"></ion-icon></button>
  </div>
</div>

<form [formGroup]="buttonService.itemCreate">
  <div *ngIf="buttonService.itemInCreation">
      <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Enter New Name"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>Layer</ion-label>
      <ion-textarea formControlName="layer" placeholder="Enter New Layer"></ion-textarea>
      </ion-item>
      <button ion-button (click)="buttonService.exitItemCreate()"><ion-icon name="arrow-back"></ion-icon></button>
      <button ion-button (click)="buttonService.createItemWithAuth(buttonService.itemCreate.value)"><ion-icon name="checkmark"></ion-icon></button>
  </div>
  
</form>