<div>
  <div align='center'>
    <button ion-button (click)="buttonService.startItemCreate()">Create Button</button>
  </div>
</div>

<form [formGroup]="buttonService.itemCreate">
  <div *ngIf="buttonService.itemInCreation">
      <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Enter New Name"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label>Layer</ion-label>
      <ion-textarea formControlName="layer" placeholder="Enter New Layer"></ion-textarea>
      </ion-item>
      <button ion-button (click)="buttonService.createItemWithAuth(buttonService.itemCreate.value)">Save New Button</button>
      <button ion-button (click)="buttonService.exitItemCreate()">Discard Changes</button>
  </div>
  
</form>