<div ng-show="popups.hiw" ng-click="popups.hiw = false" id="how-it-works" class="popup-window">
	<div class="popup-content" ng-click="$event.stopPropagation()">
		<a class="popup-closer" href="" ng-click="popups.hiw = false"></a>
		<div class="popup-content-inner">
				<h3 class="popup-title">How it works</h3>
					<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
				
				<h3 class="popup-title section">Ordering</h3>
				<div class="cft-g hiw-popup-grid">
					<div class="cft-gi">
						<div class="box-content">
							<h3 class="box-title">Clone Jeans</h3>
							<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
						</div>	
					</div><!--
					--><div class="cft-gi">
						<div class="box-content">
							<h3 class="box-title">Clone Jeans</h3>
							<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</p>
						</div>
					</div>
				</div>

		</div><!--./popup-content-inner-->
	</div>
</div>


<div class="main-navigation">
	<div class="container">	
		<div class="head-left">
			<!--<a class="mobile-info-button" ng-click="popups.hiw = !popups.hiw"><i class="fa fa-question"></i></a>-->
			<a id="home-link" href="/customizer"><img src="/images/bluedelta-logo.png" alt="Blue Delta Jeans"></a>
			<span class="title">Custom Jean Builder (B)</span>
		</div>
		<nav class="main-nav nav-right">
			
			<a href="" class="mobile-menu-trigger btn" ng-click="navvm.mobileMenu=!navvm.mobileMenu">{{navvm.mobileMenu ? "Close" : "Menu"}}</a>
			
		  <ul ng-class="(navvm.mobileMenu ? 'mobileOpen' : 'mobileClosed')" ng-init="">
			  <!--All views-->
			  <li class="main-site"><a href="https://bluedeltajeans.com/">Main Site</a></li>
			  <li class="how-it-works" i><a ng-click="popups.hiw = !popups.hiw; navvm.mobileMenu=false"href="#">How it Works</a></li>
			  
			  <!--Not Logged In-->
				<li class="sign-in" ng-if="!navvm.isLoggedIn"><a class="btn sign-in" href="login">Sign in</a></li>
				<!--<li class="sign-in" ng-if="!navvm.isLoggedIn"><a class="btn register" href="register">Register</a></li>-->
				
				<!--Logged In-->
				<li class="closet" ng-if="navvm.isLoggedIn"><a href="closet">Closet</a></li>
				<li class="log-out" ng-if="navvm.isLoggedIn"><a class="btn logout" ng-click="navvm.logout()" href="/">Log Out</a></li>
			
			
				
				<!--Admin-->
		    <li ng-if="navvm.isLoggedIn && navvm.isAdmin"><a class="btn admin" href="admin">Admin</a></li>
		  </ul>
		</nav>
	</div>
</div>

<div class="loadingDiv {{navvm.loader.type}}" ng-class="{active: navvm.loader.active}">
	<div class="loadingDiv-content">
		<h3 ng-if="navvm.loader.message">{{navvm.loader.message}}</h3>
		<i class="loading-icon fa {{navvm.loader.icon}}"></i>
	</div>
</div>

