<div class="widgets">
  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title">Edit Jean Build</h3> <a class="pull-right fa fa-edit" href="#"></a>
    </div>
    <div class="box-body">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Gender</b> <a href="#" class="pull-right">Male</a>
        </li>
        <li class="list-group-item">
          <b>Style</b> <a href="#" class="pull-right">Straight</a>
        </li>
        <li class="list-group-item">
          <b>Fabric</b> <a href="#" class="pull-right">8oz. Raw Denim Classic Indigo</a>
        </li>
        <li class="list-group-item">
          <b>Accent Thread</b> <a href="#" class="pull-right">Gold</a>
        </li>
        <li class="list-group-item">
          <b>Top Thread</b> <a href="#" class="pull-right">Gold</a>
        </li>
        <li class="list-group-item">
          <b>Bottom Thread</b> <a href="#" class="pull-right">Gold</a>
        </li>
        <li class="list-group-item">
          <b>Rivets</b> <a href="#" class="pull-right">Yes</a>
        </li>
        <li class="list-group-item">
          <b>Fake Pocket</b> <a href="#" class="pull-right">No</a>
        </li>
        <li class="list-group-item">
          <p><b>Order Notes</b></p>
          <p>If possible, I would like these jeans to be monogrammed with my name. Let me know if there is an extra cost for this.</p>
        </li>
      </ul>
    </div>
  </div>
</div>
