<div class="widgets">
  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title">Jean Build</h3>
      <span *ngIf="!editMode" (click)="editJean(jeanBuild)" class="text-light-blue pull-right fa fa-edit"></span>
      <span *ngIf="editMode" (click)="saveJean(jeanBuild)" class="text-light-blue pull-right fa fa-save"></span>
      <span style="margin-right: 16px;" *ngIf="editMode" (click)="reset()" class="text-light-blue pull-right fa fa-undo"></span>
    </div>
    <div class="box-body">

      <ul *ngFor="let item of jeanBuild" class="list-group list-group-unbordered">
        <ng-template [ngTemplateOutlet]="getTemplate(item)"
                     [ngOutletContext]="{ $implicit: item}"></ng-template>
      </ul>

      <ng-template #displayTmpl let-jeanBuild>
        <li class="list-group-item">
          <b>Gender</b> <span class="pull-right">{{jeanBuild.gender}}</span>
        </li>
        <li class="list-group-item">
          <b>Style</b> <span class="pull-right">{{jeanBuild.style}}</span>
        </li>
        <li class="list-group-item">
          <b>Fabric</b> <span class="pull-right">{{jeanBuild.fabric}}</span>
        </li>
        <li class="list-group-item">
          <b>Accent Thread</b> <span class="pull-right">{{jeanBuild.accentThread}}</span>
        </li>
        <li class="list-group-item">
          <b>Top Thread</b> <span class="pull-right">{{jeanBuild.topThread}}</span>
        </li>
        <li class="list-group-item">
          <b>Bottom Thread</b> <span class="pull-right">{{jeanBuild.bottomThread}}</span>
        </li>
        <li class="list-group-item">
          <b>Rivets</b> <span class="pull-right">{{jeanBuild.rivets}}</span>
        </li>
        <li class="list-group-item">
          <b>Fake Pocket</b> <span class="pull-right">{{jeanBuild.fakePocket}}</span>
        </li>
        <li class="list-group-item">
          <p><b>Order Notes</b></p>
          <p>{{jeanBuild.orderNotes}}</p>
        </li>
      </ng-template>

      <ng-template #editTmpl let-jeanBuild>
        <li class="list-group-item">
          <b>Gender</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.gender}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Style</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.style}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Fabric</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.fabric}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Accent Thread</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.accentThread}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Top Thread</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.topThread}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Bottom Thread</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.bottomThread}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Rivets</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.rivets}}" /></span>
        </li>
        <li class="list-group-item">
          <b>Fake Pocket</b> <span class="pull-right"><input type="text" placeholder="{{jeanBuild.fakePocket}}" /></span>
        </li>
        <li class="list-group-item">
          <p><b>Order Notes</b></p>
          <p><textarea rows="5" class="w-100">{{jeanBuild.orderNotes}}</textarea></p>
        </li>
      </ng-template>

    </div>
  </div>
</div>
