<form [formGroup]="userService.itemEdit">
<div *ngIf="userService.itemIdMarkedForEdit === user.identityId">
    <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input formControlName="phoneNumber"></ion-input>
    </ion-item>
    <div *ngIf="user.addresses && user.addresses.length > 0">
        <ion-list *ngFor="let address of user.addresses">
            <ion-item>
                ADDRESS
            <!--<ion-label>Address</ion-label>
            <ion-input formControlName="addresses"></ion-input>-->
            </ion-item>
        </ion-list>
    </div>
    
    
</div>
</form>