<div ng-controller="OrdersController as octrl">

<h1>Order ####</h1>
	                
	<div class="wrapper wrapper-content animated fadeInRight">
	
		<section class="content">

      <div class="row">
        
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="ibox ibox-primary">
						<div class="ibox-title">
							<h3>Jean Name: James' Slacks</h3>
						</div>
            <div class="ibox-content ibox-profile">              
             
              <ul class="list-group list-group-unbordered">
	              <li class="list-group-item">
                  <b>Customer</b> <a href="#" class="pull-right">James Kelleway</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a href="#" class="pull-right">jrkelleway@gmail.com</a>
                </li>
                <li class="list-group-item">
                  <p><b>Shipping Address</b><a class="pull-right fa fa-edit" href="#"></a></p>
                  <p>23 LaRhonda Drive<br>
	                  Oxford, MS 38655<br>
	                  USA</p>
                </li>
                <li class="list-group-item">
                  <p><b>Billing Address</b><a class="pull-right fa fa-edit" href="#"></a></p>
                  <p>Same as Shipping Address</p>
                </li>
              </ul>

              <a href="#" class="btn btn-flat btn-danger btn-block"><b>Awaiting Payment</b></a>
              <a href="#" class="btn btn-flat btn-primary btn-block"><b>Re-Send Invoice</b></a>
            </div>
            <!-- /.ibox-content -->
          </div>
          <!-- /.ibox -->
        </div>
        
        <!-- /.col -->
        <div class="col-md-9">
	        <div class="row">
						<div class="col-md-6">
							<div class="ibox ibox-default">
								<div class="ibox-title">
									<h3 >Jean Build <a class="pull-right fa fa-edit" href="#"></a></h3> 
								</div>
								<div class="ibox-content">
	                <ul class="list-group list-group-unbordered">
			              <li class="list-group-item">
		                  <b>Gender</b> <a href="#" class="pull-right">Male</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Style</b> <a href="#" class="pull-right">Straight</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Fabric</b> <a href="#" class="pull-right">8oz. Raw Denim Classic Indigo</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Accent Thread</b> <a href="#" class="pull-right">Gold</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Top Thread</b> <a href="#" class="pull-right">Gold</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Bottom Thread</b> <a href="#" class="pull-right">Gold</a>
		                </li>
                    <li class="list-group-item">
		                  <b>Rivets</b> <a href="#" class="pull-right">Yes</a>
		                </li>
		                <li class="list-group-item">
		                  <b>Fake Pocket</b> <a href="#" class="pull-right">No</a>
		                </li>
		                <li class="list-group-item">
		                  <p><b>Order Notes</b></p>
		                  <p>If possible, I would like these jeans to be monogrammed with my name. Let me know if there is an extra cost for this.</p>
		                </li>
		              </ul>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="ibox ibox-default">
								<div class="ibox-title with-border">
									<h3 >Order Info</h3>
								</div>
									
								<div class="ibox-content">
									<div class="form-group">
										<label class="control-label" for="customer">Jean Price</label>
	                  <div class="input-group">
			                <span class="input-group-addon">$</span>
			                <input type="text" class="form-control" placeholder="350.00">
			              </div>
									</div>
	                <div class="form-group">
		                <label>Vendor</label>
		                <select class="form-control select2" style="width: 100%;">
		                  <option selected="selected">Blue Delta</option>
		                  <option>Tom James</option>
											<option>Tim Brown - FHG</option>
											<option>Scott Toulas - Raphael Wardrobe Design</option>
											<option>Cedric Hanis</option>
											<option>Joseph Mapes</option>
											<option>Greg Brown</option>
											<option>Kipper Clothing</option>
											<option>Roberto Revilla</option>
											<option>Butler Custom Clothing</option>
											<option>Brogue and Cuff</option>
											<option>Florida Jean</option>
											<option>Garrison Bespoke</option>
											<option>Oliver Rowan Bespoke</option>
											<option>Commonwealth Clothiers</option>
											<option>Roosevelt and Co</option>
											<option>Porter Wilson</option>
											<option>Cedrick Harris</option>
											<option>Haymakers</option>
											<option>11th State</option>
											<option>Langston</option>
		                </select>
		              </div>
	              
	                <div class="form-group">
		                <label>Rep</label>
		                <select class="form-control select2" style="width: 100%;">
		                  <option selected="selected">Nick Weaver</option>
		                  <option>Josh West</option>
											<option>Ellen Goucher</option>
		                </select>
		              </div>
		              
		              <div class="form-group">
		                <label>Order Type</label>
		                <select class="form-control select2" style="width: 100%;">
		                  <option selected="selected">Blue Delta</option>
			                  <option>Vendor Fitted</option>
			                  <option>Cloned from Non-BD Jean</option>
				                <option>Cloned from BD Jean</option>
				                <option>Re-Order</option>
		                	</select>
		              </div>
	              
	                <div class="form-group">
		                <label>Status</label>
		                <select class="form-control select2" style="width: 100%;">
		                  <option selected="selected">Awaiting Payment</option>
		                  <option>New</option>
		                  <option>Awaiting Payment</option>
		                  <option>Processing</option>
		                  <option>Shipped</option>
		                  <option>Completed</option>
		                </select>
		              </div>
		              <div class="row">
		              	<div class="col-sm-6">
			              	<div class="form-group">
				                <label>Fitting Date:</label>
				
				                <div class="input-group date">
					                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input type="datetime" class="form-control" date-time ng-model="sampleDate1" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
												</div>
				                <!-- /.input group -->
				              </div>
		              	</div>
		              	<div class="col-sm-6">
			              	<div class="form-group">
				                <label>Due Date:</label>
				                <div class="input-group date">
					                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
													<input type="datetime" class="form-control" date-time ng-model="sampleDate2" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
												</div>
				                <!-- /.input group -->
				              </div>
		              	</div>
		              </div>
		              
		              
		              <div class="form-group">
		                <label>Jean DOB:</label>
		
		                <div class="input-group date">
			                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
											<input type="datetime" class="form-control" date-time ng-model="sampleDate3" view="date" auto-close="true" min-view="date" format="YYYY-MM-DD">
										</div>
		                <!-- /.input group -->
		              </div>
			            <a href="#" class="btn btn-success pull-right btn-flat btn-lg"><b>Save Order</b></a>
								</div>
							</div>
						</div>
	        </div>
        </div>
	        

      	<div class="col-md-9">
          <div class="tabs-container">

            <uib-tabset>
              <uib-tab heading="Timeline">
                <div class="panel-body">
                  
                  <h3>Timeline</h3>
									
									<div class="form-group">
									  <label class="control-label" for="order_id">Enter Note</label>
									  <div class="input-group">
									    <input type="text" class="form-control" placeholder="Add Order Note">
									    <span class="input-group-btn">
									      <button type="button" class="btn btn-primary btn-flat">Go!</button>
									    </span>
									  </div>
									</div>
									
									<div id="vertical-timeline" class="vertical-container dark-timeline">
										
										
										<div class="vertical-timeline-block">
											<div class="vertical-timeline-icon navy-bg">
												<i class="fa fa-circle bg-gray"></i>
											</div>
											<div class="vertical-timeline-content">
												<h3 class="timeline-header no-border">Invoice Sent Via Square (invoice #320300202)</h3>
												<span class="vertical-date"><span class="time"><i class="fa fa-clock-o"></i> </span> 24 minutes ago <br/>
													<small>7 Jun. 2017</small>
												</span>
											</div>
										</div>
										
										
										<div class="vertical-timeline-block">
											<div class="vertical-timeline-icon navy-bg">
												<i class="fa fa-circle bg-gray"></i>
											</div>
											<div class="vertical-timeline-content">
												<h3 class="timeline-header no-border">Phone call with customer - They will be sending their clone jeans in. We should receive within the next couple of weeks</h3>
												<span class="vertical-date"><span class="time"><i class="fa fa-clock-o"></i> </span> 6 hours ago<br/>
													<small>7 Jun. 2017</small>
												</span>
											</div>
										</div>
										
										
										<div class="vertical-timeline-block">
											<div class="vertical-timeline-icon navy-bg">
												<i class="fa fa-circle bg-gray"></i>
											</div>
											<div class="vertical-timeline-content">
												<h3 class="timeline-header no-border">Order Created</h3>
												<span class="vertical-date"><span class="time"><i class="fa fa-clock-o"></i> </span> 2 days ago<br/>
													<small>5 Jun. 2017</small>
												</span>
											</div>
										</div>
										
										
									</div>
			           
			           
			           
                </div>
              </uib-tab>
              
              <uib-tab heading="Measurements">
                <div class="panel-body">
                       
                  <div class="row">
										<div class="col-sm-2">
											<div class="form-group">
										    <label class="control-label" for="customer">Waist</label>
										    <input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Seat</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Rise</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Thigh Upper</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Thigh Middle</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Thigh Lower</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Outseam</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Knee</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Calf</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Leg Opening</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
									</div>
									
									<hr>
									
									<div class="row">
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Height</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
											<div class="form-group">
												<label class="control-label" for="customer">Weight</label>
												<input type="text" id="waist" name="waist" value="" placeholder="" class="form-control">
											</div>
										</div>
										<div class="col-sm-2">
                    	<div class="form-group">
                        <label class="control-label" for="customer">Desired Fit</label>
                        <select class="form-control select2" style="width: 100%;">
				                  <option selected="selected">Select</option>
				                  <option>Trim</option>
				                  <option>Regular</option>
				                  <option>Easy</option>
				                </select>
											</div>
										</div>
									</div>
									
									<hr>
									
									<div class="row">
										<div class="col-sm-6">
										  <div class="form-group">
										    <label class="control-label" for="customer">Notes for Tailor</label>
										    <textarea class="form-control" rows="3" placeholder="Notes..."></textarea>
										  </div>
										</div>
									</div>
									
	                <a href="#" class="btn btn-success"><b>Save</b></a>

                </div>
                       
							</uib-tab>
            </uib-tabset>

          </div>
				</div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
	
	
	</div>
</div>