		<div class="builder__stage">

			<img ng-if="vm.jean.data.fabric"
			src="/images/components/fabric/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_f{{vm.jean.data.fabric}}.png">
			
			<img ng-if="vm.jean.data.threadBottom"
			src="/images/components/thread/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_tb{{vm.jean.data.threadBottom}}.png">
			<img ng-if="vm.jean.data.threadTop"
			src="/images/components/thread/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_tt{{vm.jean.data.threadTop}}.png">
			<img ng-if="vm.jean.data.threadAccent"
			src="/images/components/thread/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_ta{{vm.jean.data.threadAccent}}.png">
			
			<img class="stage-button" ng-if="vm.jean.data.hardware"
			src="{{vm.builder.hardware[vm.jean.data.hardware].layer}}">
		</div>

		<div class="builder__control-panel">
			

			
			<div class="control-panel-inner">
				
				<h3 class="control-title">{{vm.builder.controlPanel[vm.builder.step]}}</h3>
				<div class="switch">					
					<ul>
						<li ng-repeat="(key, val) in vm.builder.controlPanel" ng-if="$index > 0" ng-class="{ active: vm.builder.step==key }">
							<a ng-click="vm.builder.changeStep(key)" href="">{{key}}</a>
						</li>
					</ul>
				</div>
				
				<div class="build-step-stage">
					
				
					<div class="fabric chooser" ng-show="vm.builder.controlPanel[vm.builder.step] == 'Fabric'">
						<span style="top: 15px; left: 15px;" ng-class="{ live: vm.jean.data.fabric }" class="chooser-select" id="fabric-selector"></span>
						<div class="cft-g chooser-grid">
							<div class="cft-gi" ng-repeat="(id, fabric) in vm.builder.fabrics">
								<a ng-class="{ active: vm.jean.data.fabric==id }" id="fabric_{{id}}" 
								href="" ng-click="vm.builder.selectAttr($event, id, 'fabric')">
									<img src="/images/components/fabric/thumb_f{{id}}.jpg">
								</a>
							</div>
						</div>
					</div>
					
					
					<div class="thread chooser" ng-show="vm.builder.controlPanel[vm.builder.step] == 'Thread'">
						
						<div class="sub-chooser">
							<ul>
								<li><input type="radio" name="theads_sub" ng-model="vm.builder.threadSubSelect" value="Top"><label>TOP</label></li>
								<li><input type="radio" name="theads_sub" ng-model="vm.builder.threadSubSelect" value="Bottom"><label>BOTTOM</label></li>
								<li><input type="radio" name="theads_sub" ng-model="vm.builder.threadSubSelect"  value="Accent"><label>ACCENT</label></li>
							</ul>
						</div>
						
						<span style="top:42px;left:15px;" ng-class="{ live: vm.jean.data.threadTop }" 
						class="chooser-select" id="threadTop-selector"></span>
						<span style="top:42px;left:15px;" ng-class="{ live: vm.jean.data.threadBottom }" 
						class="chooser-select" id="threadBottom-selector"></span>
						<span style="top:42px;left:15px;" ng-class="{ live: vm.jean.data.threadAccent }" 
						class="chooser-select" id="threadAccent-selector"></span>
						
						<div class="cft-g chooser-grid">
							<div class="cft-gi" ng-repeat="(id, thread) in vm.builder.threads">
								<a ng-class="{ active: vm.jean.data.thread==id }" id="thread_{{id}}" 
								href="" ng-click="vm.builder.selectAttr($event, id, 'thread'+vm.builder.threadSubSelect)">
									<img src="{{thread.thumb}}">
								</a>
							</div>
						</div>
					</div>
						
					
					<div class="hardware chooser" ng-show="vm.builder.controlPanel[vm.builder.step] == 'Hardware'">
						<span ng-class="{ live: vm.jean.data.hardware }" class="chooser-select" id="hardware-selector"></span>
						<div class="cft-g chooser-grid">
							<div class="cft-gi" ng-repeat="(id, button) in vm.builder.hardware">
								<a ng-class="{ active: vm.jean.data.hardware==id }" id="hardware_{{id}}" 
								href="" ng-click="vm.builder.selectAttr($event, id, 'hardware')">
									<img src="{{button.thumb}}">
								</a>
							</div>
						</div>
					</div>

					
				
				</div>
				
				
			</div>
		</div>
		

