
<!--Fabric Popup-->
<div ng-show="vm.builder.infoPop"	ng-click="vm.builder.infoPop = false" id="how-it-works" class="popup-window">
	<div class="popup-content fabric-popup" ng-click="$event.stopPropagation()">
		<a class="popup-closer" href="" ng-click="vm.builder.infoPop = false"></a>
		<div class="popup-content-inner">
				<h3 class="popup-title">{{vm.builder.activeItem().name}}</h3>
				<h4 class="popup-sub-title">{{vm.builder.activeItem().materials}}</h4>
				<h4 class="popup-sub-title">{{vm.builder.activeItem().supplier}}</h4>
				<p class="fabric-description">{{vm.builder.activeItem().description}}</p>
				<div class="fabric-preveiw" style="background: url(/images/components/fabrics/preview_{{vm.jean.data.fabric}}.jpg) no-repeat center center; 
				-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;"></div>
		</div><!--./popup-content-inner-->
	</div>
</div>

<!--Denim Weight Popup-->
<div ng-show="vm.builder.denimPop"	ng-click="vm.builder.denimPop = false" id="how-it-works" class="popup-window">
	<div class="popup-content denim-popup" ng-click="$event.stopPropagation()">
		<a class="popup-closer" href="" ng-click="vm.builder.denimPop = false"></a>
		<div class="popup-content-inner">
			<h3 class="popup-title">Raw Denim Weights</h3>		
			<div class="denim-weight">
				<h3>Lightweight</h3>
				<h4>(Under 10 oz)</h4>
				<p>Lightweight raw denim is the first, and easiest to wear category. A raw denim under 10 Oz. is  easy to break in as it won’t require anywhere near as much wearing time as a heavier fabric to attain a pleasant level of comfort.</p>
				<p>A lightweight raw denim is much more comfortable from the beginning, and is lighter on your legs. There will be much fewer sweaty experiences caused from claustrophobia around your legs. The only drawback is that the fades achieved with this level of denim won’t look quite as spectacular as a heavier weight of denim.</p>
			</div>
			
			<div class="denim-weight">
				<h3>Mediumweight</h3>
				<h4>(Between 10 Oz. – 12 Oz.)</h4>
				<p>Second is the mid-weight denim, which is probably the most common of the raw denims in the market today. These are getting to the point where the denim starts off quite stiff, and are potentially quite heavy and hard to the touch.</p>
				<p>The positives include the potential for a much better fade, a slightly warmer jean come winter and fall, and a longer lasting jean that is much harder to wear through. You will, however, take a longer break in time, and will have a little bit of lost flexibility upfront.</p>
			</div>
			
			<div class="denim-weight">
				<h3>Heavyweight</h3>
				<h4>(Over 12 oz)</h4>
				<p>Finally are the heavyweight jeans, the over 16 Oz. jeans, which can run up to a 32 Oz. These jeans take a real commitment, they’re going to take time and effort and honestly won’t feel great at first.</p>
				<p>You’d have to be slightly self-loathing to want to stick your legs into a jean that can stand up on their own, but if lorem ipsum doler sit</p>
			</div>
		</div><!--./popup-content-inner-->
	</div>
</div>


<!--Pant Rendering-->
<div class="builder__stage">
	<div class="images" id="zoom-frame" ng-class="{'zoomed': vm.builder.zoom }" 
		ng-click="vm.builder.zoom = !vm.builder.zoom" ng-touch="vm.builder.zoom = !vm.builder.zoom"  ng-touchmove="vm.builder.trackMouse($event)" ng-mousemove="vm.builder.trackMouse($event)">
		<img ng-if="vm.jean.data.fabric" ng-class="{'zoom': vm.builder.zoom }"
		src="/images/components/fabrics/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_f{{vm.jean.data.fabric}}.jpg">		
		<img ng-if="vm.jean.data.bottom_thread" ng-class="{'zoom': vm.builder.zoom }"
		src="/images/components/threads/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_tb{{vm.jean.data.bottom_thread}}.png">
		<img ng-if="vm.jean.data.top_thread" ng-class="{'zoom': vm.builder.zoom }"
		src="/images/components/threads/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_tt{{vm.jean.data.top_thread}}.png">
		<img ng-if="vm.jean.data.accent_thread" ng-class="{'zoom': vm.builder.zoom }"
		src="/images/components/threads/g{{vm.jean.data.gender}}_s{{vm.jean.data.style}}_ta{{vm.jean.data.accent_thread}}.png">
		<img class="stage-button" ng-if="vm.jean.data.hardware != 1"
		src="/images/components/hardware/thumb_{{vm.jean.data.hardware}}.jpg">
	</div>
	<a class="zoom-icon" ng-click="vm.builder.toggleZoom()" href="">
		<i class="fa fa-search-plus" aria-hidden="true"></i>
	</a>
</div>
<!--Mobile Helper-->
<div ng-init="vm.showMenu = false" class="builder__mobile-helper">
	<a ng-click="vm.showMenu=!vm.showMenu" ng-class="(vm.showMenu ? 'closer' : '')" class="menu-icon">
		<span class="bars">
	</a>
	<ul ng-class="(vm.showMenu ? 'show' : 'hide')" class="slide mobile-helper-options">
		<li>
			<a href="" ng-click="vm.builder.step=6; vm.builder.overviewOn=!vm.builder.overviewOn">
				<i class="fa fa-list-ul"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="fa fa-share" aria-hidden="true"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="fa fa-floppy-o"></i>
			</a>
		</li>
		<li>
			<a href="">
				<i class="fa fa-shopping-cart"></i>
			</a>
		</li>
	</ul>
</div>
<!--Controls Panel-->
<div class="builder__control-panel-mobile">
	<ng-include src="'/customizer/controls/mobile.html'"></ng-include>
</div>
	




