<div class="container">
	<div class="customizer-page">
		<!--Male Styles-->
		<div ng-if="vm.jean.data.gender =='1'">
			<div class="cft-g style-grid">
				<div ng-repeat="style in vm.styles.male" class="cft-gi">
					<slider image-click="vm.form.selectStyle(style.id)" slides="style.images"></slider>
					<h3>{{style.title}}</h3>
				</div>
			</div>
		</div>
		
		<!--Female Styles-->
		<div ng-if="vm.jean.data.gender =='2'">
			<div class="cft-g style-grid">
				<div ng-repeat="style in vm.styles.female" class="cft-gi">
					<slider image-click="vm.form.selectStyle(style.id)" slides="style.images"></slider>
					<h3>{{style.title}}</h3>
				</div>
			</div>
		</div>
		
		
	</div>
</div>