<div class="customizer-page">
	<!--Male Styles-->
	<div ng-if="vm.jean.data.gender =='male'">
		<div class="cft-g style-grid">
			<div ng-repeat="style in vm.styles.male" class="cft-gi">
				{{style.title}}
				<slider image-click="vm.form.selectStyle(style.id)" slides="style.images"></slider>
			</div>
		</div>
	</div>
	
	<!--Female Styles-->
	<div ng-if="vm.jean.data.gender =='female'">
		<div class="cft-g style-grid">
			<div ng-repeat="style in vm.styles.female" class="cft-gi">
				{{style.title}}
				<slider image-click="vm.form.selectStyle(style.id)" slides="style.images"></slider>
			</div>
		</div>
	</div>
	
	
</div>