<navigation></navigation>
<ng-include  src="'/pages/closet/popups.html'"></ng-include>

<div class="container page-container">
  <div class="cft-g page-grid">
	  
    <div class="cft-gi main">

		  <div class="page-title">
				<h1>{{vm.user.name}}'s Closet</h1>
			</div>
			


      <div class="jean-closet">
	      <div class="in-production">
		      <h3>In Production</h3>
		      <div class="cft-g jean-grid">
	
			      <div ng-repeat="jean in vm.jeans | filter:{ status: 'production' }" class="cft-gi">
				      <div class="jean-card">
								<img ng-click="vm.popups.jeanProfile = true; vm.jean.data=jean" src="/images/thumbnails/{{jean.id}}.jpg">
								<div class="box-content">
						      <h4 ng-click="vm.popups.jeanProfile = true; vm.jean.data=jean">{{jean.title}}</h4>
									<h5>{{jean.buildStatus}}</h5>
									<h5>EST ARRIVAL: {{jean.birthday | date : "shortDate" : "CST" }}</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      <div class="owned">
		      <h3>Owned</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.jeans | filter:{ status: 'complete' }" class="cft-gi">
				      <div class="jean-card">
					      <img ng-click="vm.popups.jeanProfile = true; vm.jean.data=jean" src="/images/thumbnails/{{jean.id}}.jpg">
								<div class="box-content">
					      	<h4 ng-click="vm.popups.jeanProfile = true; vm.jean.data=jean">{{jean.title}}</h4>
									<h5>Born: {{jean.birthday | date : "longDate" : "CST" }}</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
				<div class="in-production">
		      <h3>Saved</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.jeans | filter:{ status: 'saved' }" class="cft-gi">
				      <div class="jean-card">
					      <img src="/images/thumbnails/{{jean.id}}.jpg">
								<div class="box-content">
									<a href="/customizer/{{jean.id}}">Edit</a> | <a href="#">Order</a> 
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
      </div><!--/.jean-closet-->
      
    </div><!--/.main
    
    --><div class="cft-gi sidebar">
	    <div class="user-card">
		    <h3 class="box-title">Your Profile</h3>
		    <div class="box-content">
			    <h4>{{vm.user.name}}</h4>
			    <h5>{{vm.user.addresses[0].city}}, {{vm.user.addresses[0].state}}</h5>
			    <a href="">Edit Account info <i class="fa fa-edit"></i></a>
		    </div>
	    </div>
    </div><!--/.sidebar-->
    
  </div><!--.page-grid-->
</div><!--./page-container