<navigation></navigation>
<ng-include  src="'/pages/closet/popups.html'"></ng-include>

<div class="container page-container">
  <div class="cft-g page-grid">
	  
    <div class="cft-gi main">
		  <div class="page-title">
				<h1>{{vm.user.name}}'s Closet</h1>
			</div>
{{vm.user.jeans}}
      <div class="jean-closet">	      
	      <!--Production-->
	      <div ng-if="(vm.data.jeansList | filter:{ status: 'production' }).length" class="production">
		      <h3>In Production</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.data.jeansList | filter:{ status: 'production' }" class="cft-gi">
				      <div class="jean-card">
								<img ng-click="vm.selectJean(jean)" src="/images/thumbnails/{{jean.id}}.jpg">
								<div class="box-content">
						      <h4 ng-click="vm.selectJean(jean)">{{jean.name}}</h4>
									<h5>{{jean.buildStatus}}</h5>
									<h5>EST ARRIVAL: {{jean.birthday | date : "shortDate" : "CST" }}</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      
	      <!--Owned-->
	      <div ng-if="(vm.data.jeansList | filter:{ status: 'complete' }).length" class="complete">
		      <h3>Owned</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.data.jeansList | filter:{ status: 'complete' }" class="cft-gi">
				      <div class="jean-card">
					      <img ng-click="vm.selectJean(jean)" src="/images/thumbnails/{{jean.id}}.jpg">
								<div class="box-content">
					      	<h4 ng-click="vm.selectJean(jean)">{{jean.name}}</h4>
									<h5>Born: {{jean.birthday | date : "longDate" : "CST" }}</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      {{vm.user.jeans}}
	      <!--Saved-->
				<div ng-if="(vm.user.jeans | filter:{ ordered : '!true' }).length" class="saved">
		      <h3>Saved</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.user.jeans | filter:{ ordered : '!true' }" class="cft-gi">
				      <div class="jean-card">
					      <img src="{{jean.imageURL}}">
								<div class="box-content">
									<a href="/customizer/{{jean.jeanId}}/{{vm.user.identityId}}">Edit</a> | <a href="vm.orderJean(jean)">Order</a> 
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      
	      <!--No Jeans-->
	      <div ng-if="vm.data.jeansList.length == 0" class="no-jeans">
				  <p>There are no jeans in your closet. <a href="/customizer">Create your first pair!</a></p>
	      </div>
	      
      </div><!--/.jean-closet-->
      
    </div><!--/.main
    
    --><div class="cft-gi sidebar">
	    <div class="user-card">
		    <h3 class="box-title">Your Profile</h3>
		    <div class="box-content">
			    <h4>{{vm.user.name}}</h4>
			    <h5 ng-repeat="add in vm.user.address | filter:{primary:'true'} | limitTo:1">{{add.city}}, {{add.state}}</h5>
			    <a ng-click="vm.popups.editUser=true" href="">Edit Account info <i class="fa fa-edit"></i></a>
		    </div>
	    </div>
    </div><!--/.sidebar-->
    
  </div><!--.page-grid-->
</div><!--./page-container