
<div ng-show="vm.popups.jeanProfile" ng-click="vm.popups.jeanProfile = false" id="how-it-works" class="popup-window">
	<div class="popup-content" ng-click="$event.stopPropagation()">
		<a class="popup-closer" href="" ng-click="vm.popups.jeanProfile = false"></a>
		<div class="popup-content-inner">
			
			<div class="cft-g jean-profile-grid">
				<div class="cft-gi main">
 
					<div class="jean-profile-data">
						<h3>{{vm.jean.data.title}}</h3>
						<p>Status:{{vm.jean.data.buildStatus}}</p>
						<p>Estimated Arrival: {{vm.jean.data.birthday}}</p>
						<p>Order#: {{vm.jean.data.orderNumber}}</p>
					</div>
					
					<div class="jean-list closet">
						<dl>
							
							<dt ng-repeat-start="(key, value) in vm.jean.data | listData">{{key | scoreToSpace}}:</dt><!--
							--><dd ng-repeat-end>{{vm.dataLookup(key,value,"name")}}</dd>
						</dl>
					</div>
					
					<label>Alterations/Comments</label>
					<textarea></textarea>
					
					<button class="btn">Send</button>
					
				</div><!--
				--><div class="cft-gi sidebar">
					<div class="jean-card">
						<img src="/images/thumbnails/{{vm.jean.data.id}}.jpg">
						<div class="box-content">
							<button class="btn">Re-Order</button>
							<button ng-click="vm.copyJean()" class="btn">Copy</button>
						</div>				
					</div>
				</div>
			</div>
		</div><!--./popup-content-inner-->
	</div>
</div>
