<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-left [navPush]="accountSignupPage" *ngIf="!( resourceService.users$ | async ).currentUserId">
        <ion-icon name="contact"></ion-icon>Register
      </button>
      <button ion-button icon-left [navPush]="accountSigninPage" *ngIf="!( resourceService.users$ | async ).currentUserId">
        <ion-icon name="log-in"></ion-icon>Sign In
      </button>
      <button ion-button icon-left (click)="globals.logout()" *ngIf="( resourceService.users$ | async ).currentUserId">
        <ion-icon name="log-out"></ion-icon>Sign Out
      </button>
    </ion-buttons>
    <ion-title>BlueDelta</ion-title> 
  </ion-navbar>
</ion-header>


<ion-content padding>
  <button-master></button-master>
</ion-content>


