/* Theme colors */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* Button colors */
/* Text link colors */
/* Text colors */
/* Helper colors */
/* Typography */
/*Sass Media Query Break Points*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cft-g {
  margin-left: -30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cft-g > .cft-gi {
  padding-left: 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
input,
textarea,
button,
select {
  font-size: 18px;
  line-height: 24px;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "proxima-nova", "Open Sans", sans-serif;
  color: #1d1d1d;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-family: "proxima-nova", "Open Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #004964;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.h1 a:hover, .h2 a:hover, .h3 a:hover, .h4 a:hover, .h5 a:hover, .h6 a:hover {
  text-decoration: underline;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  font-weight: inherit;
}

h1, .h1 {
  font-size: 30px;
  line-height: 38px;
  font-size: 3rem;
  line-height: 3.8rem;
}

h2, .h2 {
  font-size: 26px;
  line-height: 34px;
  font-size: 2.6rem;
  line-height: 3.4rem;
}

h3, .h3 {
  font-size: 24px;
  line-height: 32px;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

h4, .h4 {
  font-size: 20px;
  line-height: 28px;
  font-size: 2rem;
  line-height: 2.8rem;
}

h5, .h5 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h6, .h6 {
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

p {
  margin: 0 0 20px 0;
}

p img {
  margin: 0;
}

a {
  color: #004964;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
a:hover {
  color: #001118;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

blockquote {
  font-size: 20px;
  line-height: 28px;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #777;
  font-style: italic;
  margin: 0 0 30px;
  padding: 15px 30px;
  border-left: 1px solid #ebebeb;
}
blockquote p {
  margin-bottom: 0;
}
blockquote p + cite {
  margin-top: 15px;
}
blockquote cite {
  display: block;
  font-size: 14px;
  line-height: 21px;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #777;
}
blockquote cite:before {
  content: "\2014 \0020";
}

hr {
  clear: both;
  border-top: solid #ebebeb;
  border-width: 1px 0 0;
  margin: 60px 0;
}
hr.hr-small {
  margin: 30px 0;
}
hr.hr-clear {
  border-top: 0 none;
}

.btn, .btn-secondary,
a.btn-secondary,
a.btn,
a.btn-secondary {
  display: inline-block;
  padding: 8px 26px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-transition: 0.2s all ease-in;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  background-color: #004964;
}
.btn.small, .small.btn-secondary,
a.btn.small,
a.small.btn-secondary {
  padding: 4px 5px;
  font-size: 13px;
  line-height: 24px;
  font-size: 1.3rem;
  line-height: 2.4rem;
}
.btn.full, .full.btn-secondary,
a.btn.full,
a.full.btn-secondary {
  width: 100%;
}
.btn:hover, .btn-secondary:hover,
a.btn:hover,
a.btn-secondary:hover {
  background-color: #002431;
  color: #fff;
}
.btn:active, .btn-secondary:active,
a.btn:active,
a.btn-secondary:active {
  background-color: black;
  color: #fff;
}
.btn[disabled], [disabled].btn-secondary, .btn.disabled, .disabled.btn-secondary,
a.btn[disabled],
a[disabled].btn-secondary,
a.btn.disabled,
a.disabled.btn-secondary {
  cursor: default;
  color: #ababab;
  background-color: #dfdfdf;
}

.btn.ghost, .ghost.btn-secondary {
  width: 100%;
  border: 2px solid;
  background: transparent;
  color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.9);
  background: none;
}
.btn.ghost:hover, .ghost.btn-secondary:hover {
  border-color: white;
  color: white;
  background: none;
}

.btn-secondary,
a.btn-secondary {
  background-color: #424242;
}
.btn-secondary:hover,
a.btn-secondary:hover {
  background-color: #292929;
  color: #fff;
  text-decoration: none;
}
.btn-secondary:active,
a.btn-secondary:active {
  background-color: #0f0f0f;
  color: #fff;
}

.text-link {
  display: inline;
  border: 0 none;
  background: none;
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity: 0;
}

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity: 1;
}

body {
  position: relative;
  min-height: 100vh;
}

.container {
  padding: 0 20px;
  max-width: 1200px;
  display: block;
  margin: auto;
  position: relative;
}
.container.thin {
  max-width: 800px;
}

.main-navigation {
  background: #004964;
  height: 49px;
  display: block;
  position: relative;
  padding-top: 6px;
}
@media screen and (min-width: 650px) {
  .main-navigation {
    height: 69px;
    padding-top: 16px;
  }
}
.main-navigation:after {
  content: "";
  display: block;
  clear: both;
}
.main-navigation .container {
  padding: 0 20px;
}
.main-navigation a.mobile-info-button {
  position: absolute;
  top: 63px;
  display: block;
  width: 40px;
  height: 40px;
  background: #cfcfcf;
  text-align: center;
  line-height: 32px;
  color: #909090;
  font-size: 26px;
  line-height: 40px;
  z-index: 2;
}
@media screen and (min-width: 650px) {
  .main-navigation a.mobile-info-button {
    display: none;
  }
}
.main-navigation .head-left {
  float: left;
}
.main-navigation .head-left #home-link {
  width: 130px;
  margin-top: 2px;
  display: inline-block;
}
@media screen and (min-width: 650px) {
  .main-navigation .head-left #home-link {
    width: 200px;
    margin-top: -10px;
  }
}
.main-navigation .head-left #home-link img {
  width: 100%;
  -webkit-backface-visibility: hidden;
}
.main-navigation .head-left .title {
  display: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  vertical-align: top;
  margin-top: 6px;
  font-size: 14px;
  line-height: 26px;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
@media screen and (min-width: 950px) {
  .main-navigation .head-left .title {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .main-navigation .head-left .title {
    font-size: 18px;
    line-height: 26px;
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}
.main-navigation nav .btn, .main-navigation nav .btn-secondary {
  background: #002f40;
}
.main-navigation nav .btn:hover, .main-navigation nav .btn-secondary:hover {
  background: #001118;
}
.main-navigation nav.nav-right {
  float: right;
}
.main-navigation nav.nav-right a.mobile-menu-trigger {
  font-size: 14px;
  line-height: 20px;
  font-size: 1.4rem;
  line-height: 2rem;
}
@media screen and (min-width: 650px) {
  .main-navigation nav.nav-right a.mobile-menu-trigger {
    font-size: 16px;
    line-height: 24px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.main-navigation nav.nav-right ul {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  top: 43px;
  background: rgba(0, 36, 49, 0.9);
  z-index: 9999;
}
@media screen and (min-width: 650px) {
  .main-navigation nav.nav-right ul {
    top: 53px;
  }
}
.main-navigation nav.nav-right ul.mobileOpen {
  visibility: visible;
  opacity: 1;
}
.main-navigation nav.nav-right ul li {
  display: block;
  position: relative;
  margin: 0;
  border-bottom: 1px solid #002431;
  vertical-align: middle;
}
.main-navigation nav.nav-right ul li:last-child {
  border-bottom: 0;
}
.main-navigation nav.nav-right ul li a {
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-navigation nav.nav-right ul li a:hover {
  color: #cccccc;
}
.main-navigation nav.nav-right ul li a:not(.btn):not(.btn-secondary) {
  padding: 15px;
}
.main-navigation nav.nav-right ul li a.drop-trigger {
  display: none;
}
.main-navigation nav.nav-right ul.dropdown {
  display: block;
  position: relative;
  background: transparent;
  top: 0;
}
.main-navigation nav.nav-right .btn.logout, .main-navigation nav.nav-right .logout.btn-secondary, .main-navigation nav.nav-right .btn.sign-in, .main-navigation nav.nav-right .sign-in.btn-secondary {
  background: #40778b;
  font-size: 18px;
  line-height: 22px;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
.main-navigation nav.nav-right .btn.logout:hover, .main-navigation nav.nav-right .logout.btn-secondary:hover, .main-navigation nav.nav-right .btn.sign-in:hover, .main-navigation nav.nav-right .sign-in.btn-secondary:hover {
  background: #2b687e;
}
@media screen and (min-width: 800px) {
  .main-navigation nav.nav-right {
    position: relative;
  }
  .main-navigation nav.nav-right a.mobile-menu-trigger {
    display: none;
  }
  .main-navigation nav.nav-right ul {
    top: auto;
    visibility: visible;
    opacity: 1;
    position: relative;
    background: transparent;
  }
  .main-navigation nav.nav-right ul li {
    display: inline-block;
    margin-left: 15px;
    border-bottom: none;
  }
  .main-navigation nav.nav-right ul li a:not(.btn):not(.btn-secondary) {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main-navigation nav.nav-right ul li {
    margin-left: 40px;
  }
}

.hero {
  background: url("../images/denim-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
  margin-top: -49px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 650px) {
  .hero {
    margin-top: -69px;
  }
}
.hero h1 {
  padding-top: 150px;
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  font-size: 4rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 650px) {
  .hero h1 {
    font-size: 50px;
    line-height: 60px;
    font-size: 5rem;
    line-height: 6rem;
  }
}
.hero h3 {
  font-size: 24px;
  line-height: 30px;
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 60px;
  color: #ffffff;
}
@media screen and (min-width: 650px) {
  .hero h3 {
    font-size: 28px;
    line-height: 36px;
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

.intro-text {
  text-align: center;
}
.intro-text .callouts {
  max-width: 600px;
  margin: 30px auto;
}
.intro-text .callouts a {
  background: #004964;
  padding: 20px;
  font-size: 25px;
  line-height: 35px;
  font-size: 2.5rem;
  line-height: 3.5rem;
  display: block;
  width: 48%;
  min-width: 260px;
  margin: 0 auto 20px;
}
.intro-text .callouts a:hover {
  background: #2b687e;
}
@media screen and (min-width: 650px) {
  .intro-text .callouts a {
    font-size: 30px;
    line-height: 35px;
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
.intro-text .callouts a.secondary {
  background: #acacac;
}
.intro-text .callouts a.secondary:hover {
  background: #939393;
}

form.login-form, form.register-form {
  max-width: 500px;
}
form.login-form .form-group, form.register-form .form-group {
  margin-bottom: 15px;
}
form.login-form .form-group label, form.register-form .form-group label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  line-height: 15px;
  font-weight: 700;
  color: #6a6a6a;
}
form.login-form .form-group input, form.register-form .form-group input {
  display: block;
  width: 100%;
}
form.login-form button.btn, form.login-form button.btn-secondary, form.register-form button.btn, form.register-form button.btn-secondary {
  margin-top: 10px;
  padding: 8px 20px;
}

.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 17, 24, 0.7);
  z-index: 9999;
}
.popup-window .popup-title {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 800px) {
  .popup-window .popup-title {
    font-size: 30px;
    line-height: 36px;
    font-size: 3rem;
    line-height: 3.6rem;
    margin-bottom: 60px;
  }
}
.popup-window .popup-title.section {
  margin: 20px auto;
}
@media screen and (min-width: 800px) {
  .popup-window .popup-title.section {
    margin: 20px auto 40px auto;
  }
}
.popup-window .popup-closer {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  background: #ebebeb;
  display: block;
  width: 30px;
  height: 30px;
}
.popup-window .popup-closer:before, .popup-window .popup-closer:after {
  width: 20px;
  height: 2px;
  background: #004964;
  position: absolute;
  display: block;
  content: "";
  top: 34px;
  left: 25px;
  margin-top: -20px;
  margin-left: -20px;
}
.popup-window .popup-closer:before {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.popup-window .popup-closer:after {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media screen and (min-width: 800px) {
  .popup-window .popup-closer {
    height: 50px;
    width: 50px;
  }
  .popup-window .popup-closer:before, .popup-window .popup-closer:after {
    top: 43px;
    width: 40px;
    height: 3px;
  }
}
.popup-window .popup-content {
  text-algin: center;
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  top: 10%;
  width: 90%;
  margin: auto;
  max-width: 1050px;
}
.popup-window .popup-content .popup-content-inner {
  max-height: 80vh;
  overflow: auto;
  padding: 30px 20px;
  position: relative;
}
@media screen and (min-width: 650px) {
  .popup-window .popup-content .popup-content-inner {
    padding: 40px 60px;
  }
}

.hiw-popup-grid {
  margin-left: -115px;
}
.hiw-popup-grid > .cft-gi {
  padding-left: 115px;
  width: 100%;
  position: relative;
}
.hiw-popup-grid > .cft-gi .box-content {
  background: #f1f1f1;
  padding: 20px;
}
.hiw-popup-grid > .cft-gi .box-title {
  font-size: 22px;
  line-height: 26px;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
.hiw-popup-grid > .cft-gi:first-child {
  margin-bottom: 80px;
}
.hiw-popup-grid > .cft-gi:first-child:after {
  content: "OR";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -56px;
  padding-left: 113px;
  font-weight: 500;
  text-align: center;
  color: #004964;
  font-size: 24px;
  line-height: 32px;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
@media screen and (min-width: 800px) {
  .hiw-popup-grid > .cft-gi {
    width: 50%;
  }
  .hiw-popup-grid > .cft-gi .box-title {
    font-size: 28px;
    line-height: 34px;
    font-size: 2.8rem;
    line-height: 3.4rem;
  }
  .hiw-popup-grid > .cft-gi:first-child {
    margin-bottom: 0;
  }
  .hiw-popup-grid > .cft-gi:first-child:after {
    bottom: auto;
    top: 50%;
    right: -82px;
    left: auto;
    width: 50px;
    display: inline-block;
    padding: 0;
  }
}

h1.page-title {
  color: #004964;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0 0 0;
}

.customizer-page-content {
  margin-bottom: 0px;
  position: relative;
}
.customizer-page-content .customizer-page {
  height: calc(100vh - 210px);
  position: relative;
}
.customizer-page-content .customizer-page .gender-grid, .customizer-page-content .customizer-page .style-grid {
  margin-top: 30px;
  position: relative;
}
@media screen and (min-width: 800px) {
  .customizer-page-content .customizer-page .gender-grid, .customizer-page-content .customizer-page .style-grid {
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
}

.button-container {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 44px;
  pointer-events: none;
}
@media screen and (min-width: 800px) {
  .button-container {
    pointer-events: auto;
  }
}

.step-buttons {
  display: none;
  padding-top: 4px;
  position: absolute;
  width: 106%;
  margin-left: -3%;
}
@media screen and (min-width: 800px) {
  .step-buttons {
    display: block;
  }
}
.step-buttons a.btn, .step-buttons a.btn-secondary {
  -ms-transform: skewX(-20deg);
  /* IE 9 */
  -webkit-transform: skewX(-20deg);
  /* Safari */
  transform: skewX(-20deg);
  display: inline-block;
  width: 33.083%;
  margin-right: 0.25%;
  text-align: center;
}
.step-buttons a.btn p, .step-buttons a.btn-secondary p {
  margin: 0;
  -ms-transform: skewX(20deg) !important;
  /* IE 9 */
  -webkit-transform: skewX(20deg) !important;
  /* Safari */
  transform: skewX(20deg) !important;
}
.step-buttons a.btn.inactive, .step-buttons a.inactive.btn-secondary {
  background: #a5a5a5;
  color: #3f3f3f;
}

.gender-grid {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.gender-grid .cft-g {
  text-align: center;
}
.gender-grid .cft-g > .cft-gi {
  width: 100%;
  max-width: 400px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .gender-grid .cft-g > .cft-gi {
    width: 50%;
    margin-bottom: 0;
  }
}

.customizer-page .gender-grid img {
  width: 100%;
}

.cft-g.style-grid {
  text-align: center;
}
.cft-g.style-grid > .cft-gi {
  width: 100%;
  max-width: 400px;
}
@media screen and (min-width: 600px) {
  .cft-g.style-grid > .cft-gi {
    max-width: none;
    width: 33.333%;
  }
}
.cft-g.style-grid h3 {
  text-align: center;
}

/*
.slide-hide, .slide-show {
    -webkit-transition:all ease 1.5s;
    -moz-transition:all ease 1.5s;
    -o-transition:all ease 1.5s;
    transition:all ease 1.5s;
}
.slide-hide {
    position: relative;
    top: 0;
}
.slide-hide.slide-hide-active {
    position: absolute;
    top: -100px;
}
.slide-show {
    position: absolute;
    top: 100px;
}
.slide-show.slide-show-active {
    position: relative;
    top: 0px;
}

*/
.fade.ng-hide {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade.ng-hide-add {
  position: absolute;
  left: 0;
}

.fade.ng-hide-add,
.fade.ng-hide-remove {
  -webkit-transition: 150ms linear all;
  transition: 150ms linear all;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.image-slider {
  width: 100%;
  position: relative;
}
.image-slider .image-container {
  transition: 700ms ease all;
  -webkit-transition: 700ms ease all;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  max-height: 50px;
}
.image-slider.loaded .image-container {
  opacity: 1;
  max-height: 999px;
}

.arrow-controls {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  height: 36px;
  width: 36px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #004964;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
}
.arrow-controls i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 24px;
  color: #004964;
  margin-top: -12px;
  margin-left: -5px;
}
.arrow-controls i.fa-angle-right {
  margin-left: -3px;
}
.arrow-controls.left-arrow {
  left: 5px;
}
.arrow-controls.right-arrow {
  right: 5px;
}
.arrow-controls.right-arrow:before {
  top: 19px;
  left: 11px;
}
.arrow-controls.right-arrow:after {
  top: 11px;
  left: 11px;
}

.customizer-page .style-grid img {
  width: 100%;
}

.builder__control-panel-mobile {
  position: fixed;
  right: 0;
  width: 100%;
  bottom: 0;
}
.builder__control-panel-mobile .control-panel-inner {
  background: #fff;
  position: relative;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage {
  height: auto;
  padding: 0;
  padding-bottom: 0;
  background: #ffffff;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.chooser, .builder__control-panel-mobile .control-panel-inner .build-step-stage.fabric-chooser {
  min-height: 85px;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.list .step-container {
  position: relative;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage .step-container {
  position: absolute;
  top: 0;
  width: 100%;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage .slide-hide {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide {
  left: 0;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide {
  left: -100%;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide-remove {
  display: block !important;
  left: 100%;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide-add {
  position: absolute;
  top: 0;
  display: block !important;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide {
  left: 0;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide {
  left: 100%;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide-remove {
  display: block !important;
  left: -100%;
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide-add {
  position: absolute;
  top: 0;
  display: block !important;
}
@media screen and (min-width: 800px) {
  .builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide, .builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide {
    left: auto;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide, .builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide {
    left: auto;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide-remove, .builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide-remove {
    display: none !important;
    left: auto;
    position: relative;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage.next .slide-hide.ng-hide-add, .builder__control-panel-mobile .control-panel-inner .build-step-stage.prev .slide-hide.ng-hide-add {
    left: auto;
    display: none !important;
    position: relative;
  }
}
.builder__control-panel-mobile .control-panel-inner .build-step-stage .description {
  display: none;
}
@media screen and (min-width: 800px) {
  .builder__control-panel-mobile {
    position: fixed;
    top: 100px;
    right: 0;
    width: 345px;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage {
    padding-top: 44px;
    display: inline-block;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage.chooser, .builder__control-panel-mobile .control-panel-inner .build-step-stage.fabric-chooser {
    padding-top: 88px;
    height: 400px;
    overflow: auto;
    min-height: 0;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage .step-container {
    position: relative;
    bottom: auto;
    width: 100%;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage .description {
    display: block;
    padding: 15px;
    padding-bottom: 0;
  }
  .builder__control-panel-mobile .control-panel-inner .build-step-stage .description *:last-child {
    margin-bottom: 0;
  }
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.3s;
}

.control-title {
  text-transform: uppercase;
  color: #004964;
  margin-bottom: 5px;
  background: #004964;
  color: #ffffff;
  margin-bottom: 0;
  padding: 13px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  position: relative;
  text-align: center;
  z-index: 10;
}
.control-title .builder-control-container {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}
@media screen and (min-width: 800px) {
  .control-title {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
  }
  .control-title .denim-info-button {
    display: none;
  }
}

.active-item {
  border-top: 2px solid #acacac;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.15);
  background: #41778b;
  text-align: center;
  position: relative;
  z-index: 10;
}
.active-item a:not(.fabric) {
  text-decoration: none;
}
.active-item a:not(.fabric) i {
  display: none;
}
.active-item a {
  display: block;
  padding: 13px;
  text-decoration: underline;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-size: 1.8rem;
  line-height: 1.8rem;
}
.active-item a i {
  margin-left: 8px;
}
@media screen and (min-width: 800px) {
  .active-item {
    border-top: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: absolute;
    z-index: 99;
    top: 44px;
    left: 0;
    width: 100%;
  }
}

.builder-control-arrow {
  pointer-events: all;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #002431;
  padding: 5px;
  color: #fff;
  height: 45px;
  width: 45px;
  font-weight: 500;
}
.builder-control-arrow .builder-nav-control-text {
  position: absolute;
  left: -100px;
  background: #004964;
  font-size: 16px;
  line-height: 36px;
  font-size: 1.6rem;
  line-height: 3.6rem;
  letter-spacing: 2px;
  top: 0px;
  padding: 0 15px 0 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 1;
}
.builder-control-arrow:hover {
  color: #fff;
}
.builder-control-arrow:last-of-type {
  left: auto;
  right: 0;
  padding-right: 36px;
  padding-left: 0;
}
.builder-control-arrow:last-of-type .builder-nav-control-text {
  padding: 0 0 0 15px;
  left: auto;
  right: -100px;
}
.builder-control-arrow:last-of-type:hover .builder-nav-control-text {
  left: auto;
  right: 36px;
}
.builder-control-arrow i {
  padding: 10px;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 42px;
  padding: 3px 12px 6px;
  font-size: 30px;
  line-height: 36px;
}
.builder-control-arrow i.fa-angle-right {
  left: auto;
  right: 0;
}
.builder-control-arrow .arrow-controls {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  background: #004964;
  z-index: 10;
  border-color: transparent;
  left: 0;
}
.builder-control-arrow .arrow-controls.right-arrow {
  right: 0;
  left: auto;
}
.builder-control-arrow .arrow-controls:before, .builder-control-arrow .arrow-controls:after {
  background: #fff;
}

.switch {
  display: none;
  position: absolute;
  top: 44px;
  right: 100%;
}
.switch ul {
  list-style-type: none;
}
.switch ul li {
  background: #bebebe;
}
.switch ul li a {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 44px;
  color: #fff;
}
.switch ul li.active {
  background: #ffffff;
}
.switch ul li.active a {
  color: #004964;
}
@media screen and (min-width: 800px) {
  .switch {
    display: block;
  }
}

.chooser .chooser-select, .fabric-chooser .chooser-select {
  pointer-events: none;
  top: 5px;
  left: calc(50% - 40px);
  opacity: 0;
  z-index: 9;
  position: absolute;
  width: 80px;
  height: 80px;
  border: 3px solid #91b6c3;
  position: absolute;
  display: block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.chooser .chooser-select.live, .fabric-chooser .chooser-select.live {
  opacity: 1;
}
.chooser .chooser-select::after, .fabric-chooser .chooser-select::after {
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid #004964;
  display: block;
  font-family: FontAwesome;
  content: "\f00c";
  text-align: center;
  color: #004964;
  line-height: 34px;
}
@media screen and (min-width: 800px) {
  .chooser .chooser-select, .fabric-chooser .chooser-select {
    top: 15px;
    left: 30px;
    width: 95px;
    height: 95px;
  }
  .chooser.fabric-chooser .chooser-select, .fabric-chooser.fabric-chooser .chooser-select {
    top: 62px;
    left: 15px;
  }
}

.cft-g.chooser-grid {
  margin-left: 0;
  padding: 5px calc(50% - 40px) 20px;
  margin-bottom: -15px;
  overflow: auto;
}
.cft-g.chooser-grid > .cft-gi {
  width: 80px;
  margin-right: 15px;
  padding-left: 0;
}
.cft-g.chooser-grid > .cft-gi:last-of-type {
  margin-right: 0;
}
@media screen and (min-width: 800px) {
  .cft-g.chooser-grid {
    margin-left: -15px;
    padding: 15px;
    width: auto;
    margin-bottom: 0;
  }
  .cft-g.chooser-grid > .cft-gi {
    display: inline-block;
    width: 33.3333%;
    padding-left: 15px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.chooser-grid {
  position: relative;
  width: 100%;
  white-space: nowrap;
  overflow: auto;
  position: relative;
}
.chooser-grid img {
  width: 100%;
  margin-bottom: 0;
  display: block;
  pointer-events: none;
}
.chooser-grid a {
  display: block;
  transition: all 300ms ease;
  position: relative;
}
.chooser-grid a span.fabric-weight {
  pointer-events: none;
  font-weight: 700;
  color: rgba(65, 119, 139, 0.8);
  position: absolute;
  font-size: 21px;
  background: transparent;
  text-align: right;
  color: rgba(255, 255, 255, 0.6);
  right: 8px;
  bottom: 2px;
}
.chooser-grid a span.fabric-weight .oz {
  font-size: 20px;
}
@media screen and (min-width: 800px) {
  .chooser-grid {
    white-space: normal;
  }
}

.chooser-group {
  white-space: nowrap;
  height: 168px;
  overflow: auto;
  width: 100%;
  padding: 15px calc(50% - 40px) 30px;
  margin-bottom: -15px;
  background: #fff;
  poairion: relative;
}
.chooser-group h3 {
  display: none;
  margin: 5px 0 15px;
  position: relative;
}
.chooser-group h3 a.info-pop {
  color: #91b6c3;
  font-size: 18px;
  line-height: 18px;
  font-size: 1.8rem;
  line-height: 1.8rem;
  position: absolute;
  margin-left: 8px;
  top: 7px;
}
.chooser-group .chooser-grid {
  display: inline;
  position: static;
  padding: 0;
  overflow: visible;
  margin-right: 10px;
}

.fabric-chooser-container {
  position: relative;
}
.fabric-chooser-container h3 {
  margin-bottom: 0;
  padding: 0 15px;
}
@media screen and (min-width: 800px) {
  .fabric-chooser-container {
    padding-top: 15px;
  }
  .fabric-chooser-container .chooser-grid {
    position: static;
  }
}

.builder__stage {
  width: 100%;
  position: relative;
  height: 600px;
  height: calc(100vh - 49px);
  background: #ebebeb;
  display: block;
}
@media screen and (min-width: 650px) {
  .builder__stage {
    height: calc(100vh - 69px);
  }
}
@media screen and (min-width: 800px) {
  .builder__stage {
    height: 700px;
    height: calc(100vh - 113px);
  }
}
.builder__stage img {
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0;
  display: inline-block;
  height: 600px;
  height: calc(100vh - 50px);
}
@media screen and (min-width: 650px) {
  .builder__stage img {
    height: calc(100vh - 90px);
  }
}
@media screen and (min-width: 800px) {
  .builder__stage img {
    left: 35%;
    height: 700px;
    height: calc(100vh - 113px);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    margin-left: -150px;
  }
}
.builder__stage img.stage-button {
  right: 150px;
  width: 84px;
  height: auto;
  top: 45px;
  margin-left: 0;
  left: auto;
}

.action {
  position: relative;
  z-index: 10;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  background: #bebebe;
  overflow: hidden;
  padding: 0;
  padding: 0;
  max-height: 0;
}
.template-list .action {
  padding: 15px;
  max-height: 600px;
  overflow: visible;
}
.action .cft-g {
  margin-left: -10px;
}
.action .cft-gi {
  width: 50%;
  padding-left: 10px;
  margin-bottom: 10px;
}
.action .cft-gi .btn, .action .cft-gi .btn-secondary {
  background: #41778b;
}
.action .cft-gi .btn i, .action .cft-gi .btn-secondary i {
  display: inline-block;
  margin-left: 6px;
}
.action .btn, .action .btn-secondary {
  width: 100%;
}
@media screen and (min-width: 800px) {
  .template-chooser .action, .template-fabric-chooser .action {
    max-height: none;
    overflow: visible;
    padding: 15px;
  }
}

.builder__mobile-helper {
  position: fixed;
  right: 0;
  z-index: 999;
  top: 59px;
}
@media screen and (min-width: 650px) {
  .builder__mobile-helper {
    display: none;
  }
}
.builder__mobile-helper a.menu-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #004964;
  position: relative;
}
.builder__mobile-helper a.menu-icon .bars {
  width: 23px;
  height: 3px;
  background: #fff;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.builder__mobile-helper a.menu-icon .bars:before, .builder__mobile-helper a.menu-icon .bars:after {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  position: absolute;
  display: block;
  content: "";
  width: 23px;
  height: 3px;
  background: #fff;
  top: -8px;
}
.builder__mobile-helper a.menu-icon .bars:after {
  top: 8px;
}
.builder__mobile-helper a.menu-icon.closer .bars {
  background: transparent;
}
.builder__mobile-helper a.menu-icon.closer .bars:before {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
}
.builder__mobile-helper a.menu-icon.closer .bars:after {
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
}
@media screen and (min-width: 650px) {
  .builder__mobile-helper {
    top: 79px;
  }
}
.builder__mobile-helper ul {
  -webkit-transition: opacity ease 300ms;
  -moz-transition: opacity ease 300ms;
  -ms-transition: opacity ease 300ms;
  -o-transition: opacity ease 300ms;
  transition: opacity ease 300ms;
}
.builder__mobile-helper ul.hide {
  visibility: hidden;
  opacity: 0;
}
.builder__mobile-helper ul.show {
  visibility: visible;
  opacity: 1;
}
.builder__mobile-helper ul li {
  list-style-type: none;
}
.builder__mobile-helper ul li a {
  width: 40px;
  height: 40px;
  color: #fff;
  display: block;
  background: #004964;
  position: relative;
  text-align: center;
}
.builder__mobile-helper ul li a i {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.builder__stage {
  overflow: hidden;
}
.builder__stage a.zoom-icon {
  display: none;
  		/*
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      @include font-size(30,30);
      padding: 10px;
      background: rgba(255,255,255,0.5);
      */
}
.builder__stage #zoom-frame {
  width: 100%;
  display: block;
  position: relative;
  height: 600px;
  height: calc(100vh - 49px);
}
@media screen and (min-width: 700px) {
  .builder__stage #zoom-frame {
    width: 70%;
  }
}
@media screen and (min-width: 650px) {
  .builder__stage #zoom-frame {
    height: calc(100vh - 69px);
  }
}
@media screen and (min-width: 800px) {
  .builder__stage #zoom-frame {
    height: 700px;
    height: calc(100vh - 113px);
  }
}
.builder__stage #zoom-frame:hover {
  cursor: url(../images/search-plus.png), zoom-in;
}
.builder__stage #zoom-frame.zoomed:hover {
  cursor: url(../images/search-minus.png), zoom-out;
}
.builder__stage #zoom-frame.zoomed img:hover {
  cursor: url(../images/search-minus.png), zoom-out;
}
.builder__stage #zoom-frame img {
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -ms-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;
}
.builder__stage #zoom-frame img:hover {
  cursor: url(../images/search-plus.png), zoom-in;
}
.builder__stage #zoom-frame img.zoom {
  -moz-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.popup-window .popup-content.denim-popup .popup-content-inner .denim-weight {
  margin-bottom: 45px;
}
.popup-window .popup-content.denim-popup .popup-content-inner .denim-weight h3 {
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 32px;
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.popup-window .popup-content.denim-popup .popup-content-inner .denim-weight h4 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 23px;
  font-size: 1.8rem;
  line-height: 2.3rem;
}

.popup-window .popup-content.fabric-popup .popup-content-inner {
  padding-bottom: 190px;
}
.popup-window .popup-content.fabric-popup .popup-content-inner h3.popup-title {
  margin-bottom: 10px;
}
.popup-window .popup-content.fabric-popup .popup-content-inner h4.popup-sub-title {
  text-align: center;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 23px;
  font-size: 1.8rem;
  line-height: 2.3rem;
}
.popup-window .popup-content.fabric-popup .popup-content-inner h4.popup-sub-title:last-of-type {
  margin-bottom: 30px;
}
@media screen and (min-width: 750px) {
  .popup-window .popup-content.fabric-popup .popup-content-inner h4.popup-sub-title:last-of-type {
    margin-bottom: 45px;
  }
}
.popup-window .popup-content.fabric-popup .popup-content-inner .fabric-preveiw {
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 150px;
}
@media screen and (min-width: 800px) {
  .popup-window .popup-content.fabric-popup .popup-content-inner {
    padding-bottom: 485px;
  }
  .popup-window .popup-content.fabric-popup .popup-content-inner .fabric-preveiw {
    height: 445px;
  }
}

a.overview-trigger {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
a.overview-trigger i {
  position: absolute;
  right: 15px;
  font-size: 30px;
  line-height: 16px;
}
@media screen and (min-width: 800px) {
  a.overview-trigger {
    display: none;
  }
}

.jean-overview {
  background: #fff;
}

.jean-list {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.jean-list.show {
  max-height: 500px;
  overflow: auto;
}
.jean-list dl {
  width: 100%;
  max-height: calc(100vh - 284px);
}
.jean-list dl dt {
  padding: 10px 15px;
  padding-right: 0;
  width: 40%;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #004964;
  border-bottom: 1px solid #ebebeb;
  font-weight: 500;
  padding-right: 30px;
}
.jean-list dl dt:first-of-type {
  border-top: 1px solid #ebebeb;
}
.jean-list dl dt:last-of-type {
  border-bottom: 0px;
}
.jean-list dl dd {
  padding: 10px 15px;
  padding-left: 0;
  color: #004964;
  width: 60%;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 1px solid #ebebeb;
}
.jean-list dl dd:first-of-type {
  border-top: 1px solid #ebebeb;
}
.jean-list dl dd:last-of-type {
  border-bottom: 0px;
}
@media screen and (min-width: 800px) {
  .jean-list {
    max-height: none;
  }
}
