<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <img src="assets/img/bluedelta-logo.png"/>
    </ion-toolbar>
  </ion-header>



  <ion-content>
    
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon *ngIf="p.title === 'Customers'" name="people"></ion-icon>
        <ion-icon *ngIf="p.title === 'Profile'" name="person"></ion-icon>
        <ion-icon *ngIf="p.title === 'Vendors'" name="cart"></ion-icon>
        <ion-icon *ngIf="p.title === 'Orders'" name="ios-list"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false">
    
</ion-nav>