// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background, .menu-inner ion-content, .menu-inner button {
    background-color: #004964;
    color: white;
}
.menu-inner button:hover {
    background-color: #003249;
}

.bar-button-default-md:hover:not(.disable-hover) {
    background-color: #004462;
    color: white;
    border-radius: 10%;
}
button[type="submit"], .button-md {
    background-color: #34d289;
}

.button-md:hover:not(.disable-hover) {
    background-color: #2bc27c;
}

.toast-container {
    .toast-message {
        background-color: #004964;
        font-family: sans-serif;
        font-size: 18px;
    }
}

user-item ion-item:hover, button-item ion-item:hover {
    background-color: #dedede;
}

.bar-button {
    color: white;
}

.bar-button:hover {
    // background-color: #004e6e;
    color: white;
}
.toolbar-title {
    color: white;
}
