<navigation></navigation>

<div class="container">
  <h1>Register</h1>
  <p class="lead">Already a member? Please <a href="login">log in</a> instead.</p>
  <form class="register-form" ng-submit="vm.onSubmit()">
    <div class="form-group">
      <label for="name">Full name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="vm.credentials.name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
    </div>
    <button type="submit" class="btn btn-default">Register!</button>
  </form>
  <p class="form-errors" ng-show="vm.errors.message">Error: {{vm.errors.message}}</p>
</div>