<div class="description" ng-if="step.jeanKey == 'fabric'">
	<p>We have a range of fabrics in different weights from lightweight linen to heavyweight raw denim. <a href="" ng-click="vm.builder.denimPop = !denimPop"><strong>Learn More.</strong></a></p>
</div>

<div class="cft-g chooser-grid" id="fabric-chooser">
	<span ng-class="{ live: chvm.jeanData.fabric }" class="chooser-select" id="{{step.jeanKey}}-selector"></span>
	<div class="cft-gi" ng-repeat="data in dataset | orderBy:'weight'">
		<a ng-class="{ active: chvm.jeanData.fabric.fabricId == data.fabricId }" id="fabric_{{data.fabricId}}" 
		href="" ng-click="chvm.selectAttr($event, data, step.jeanKey)">
			<img src="/images/components/{{step.dataKey}}/thumb/{{data.fabricId}}.jpg">
			<span class="fabric-weight">{{data.weight}}<span class="oz">oz</span></span>
		</a>
	</div>
</div>

