<h3>Choose a Gender</h3>

<div class="cft-g chooser-grid" id="gender-chooser">
	<span ng-class="{ live: chvm.jeanData.gender_option_id, active:active }" class="chooser-select" id="gender_option_id-selector"></span>
	<div class="cft-gi" ng-repeat="data in dataset">
		<a ng-class="{ active: chvm.jeanData.gender_option_id==data.id }" id="gender_option_id_{{data.id}}"
		href="" ng-click="chvm.selectAttr($event, data.id, 'gender_option_id')">
			<img ng-src="http://bluedelta-data.s3-website-us-east-1.amazonaws.com/images/components/gender/thumb_{{data.id}}.jpg">
		</a>
	</div>
</div>
