<div>
  <div align='center'>
    <button float-left margin ion-button (click)="jeanService.loadEmbeddedItems(buttonService.list, fabricService.list, threadService.list)"><ion-icon name="refresh"></ion-icon></button>
    <button float-left margin ion-button *ngIf="!jeanService.jeanInCreation" (click)="jeanService.startJeanCreate()"><ion-icon name="create"></ion-icon></button>
  </div>
</div>
<form [formGroup]="jeanService.jeanCreateForm">
  <div *ngIf="jeanService.jeanInCreation">

      <ion-item>
        <ion-select formControlName="thread" (ionChange)="jeanService.updateDefaultThread($event)">
            <ion-option value="{{ thread.threadId }}" *ngFor="let thread of jeanService.threadList">{{ thread.name }}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-select formControlName="button" (ionChange)="jeanService.updateDefaultButton($event)">
            <ion-option value="{{ button.buttonId }}" *ngFor="let button of jeanService.buttonList">{{ button.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="fabric" (ionChange)="jeanService.updateDefaultFabric($event)">
            <ion-option value="{{ fabric.fabricId }}" *ngFor="let fabric of jeanService.fabricList">{{ fabric.name }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-range formControlName="waist" (ionChange)="jeanService.logShit(($event.ratio) )">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>


      <ion-item>
        <ion-label>Waist</ion-label>
        <ion-input (ionChange)="jeanService.updateDefaultWaist($event)" type="number" formControlName="waist"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Leg</ion-label>
        <ion-input type="number" formControlName="leg"></ion-input>
      </ion-item>

      <button ion-button (click)="jeanService.exitJeanCreate()"><ion-icon name="arrow-back"></ion-icon></button>
      <button ion-button (click)="jeanService.logShit(jeanService.jeanCreateForm.value)"><ion-icon name="checkmark"></ion-icon></button>
  </div>
</form>
