<div class="widgets">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="img-responsive order-img" src="../../../../../assets/default-images/jean.png" alt="Jean">

      <h3 class="profile-username text-center">Jean Name: James' Slacks</h3>

      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Customer</b> <a href="#" class="pull-right">James Kelleway</a>
        </li>
        <li class="list-group-item">
          <b>Email</b> <a href="#" class="pull-right">jrkelleway@gmail.com</a>
        </li>
        <li class="list-group-item">
          <p><b>Shipping Address</b><a class="pull-right fa fa-edit" href="#"></a></p>
          <p>23 LaRhonda Drive<br>
            Oxford, MS 38655<br>
            USA</p>
        </li>
        <li class="list-group-item">
          <p><b>Billing Address</b><a class="pull-right fa fa-edit" href="#"></a></p>
          <p>Same as Shipping Address</p>
        </li>
      </ul>

      <a href="#" class="btn btn-flat btn-danger btn-block"><b>Awaiting Payment</b></a>
      <a href="#" class="btn btn-flat btn-primary btn-block"><b>Re-Send Invoice</b></a>
    </div>
    <!-- /.box-body -->
  </div>
</div>
