<div>
  <div align='center'>
    <button float-left margin ion-button (click)="userService.loadItemsWithAuth()"><ion-icon name="refresh"></ion-icon></button>
    <button float-left margin ion-button *ngIf="!userService.itemInCreation" (click)="userService.startItemCreate()"><ion-icon name="create"></ion-icon></button>
  </div>
</div>

<form [formGroup]="userService.itemCreate">
  <div *ngIf="userService.itemInCreation">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number</ion-label>
        <ion-input formControlName="phoneNumber"></ion-input>
      </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-input formControlName="gender"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Referral</ion-label>
      <ion-input formControlName="referral"></ion-input>
    </ion-item>
      <button ion-button (click)="userService.exitItemCreate()"><ion-icon name="arrow-back"></ion-icon></button>
      <button ion-button (click)="userService.createItemWithAuth(userService.itemCreate.value)"><ion-icon name="checkmark"></ion-icon></button>
  </div>

</form>
