<div class="control-panel-inner template-{{vm.builder.panel[vm.builder.step].panelTemplate}}">
	
		<div class="switch">					
			<ul>
				<li ng-repeat="(key, val) in vm.builder.panel" ng-if="$index > 0" ng-class="{ active: vm.builder.step==key }">
					<a ng-click="vm.builder.changeStep(key)" href="">{{key}}</a>
				</li>
			</ul>
		</div>
				
				
		<div class="build-step-stage {{vm.builder.panelDir}} {{vm.builder.panel[vm.builder.step].panelTemplate}}">			
		<div class="step-container tempalte-{{step.panelTemplate}}" ng-class="(step.panelTemplate == 'list' ? 'fade':'chooser-anim')" ng-repeat="step in vm.builder.panel" ng-show="vm.builder.panel[vm.builder.step] == step">		
		
				
				<!--All Other Choosers-->
				<chooser 
				active="vm.builder.panel[vm.builder.step]==step"
				ng-if="step.panelTemplate=='chooser'" 
				on-click="chvm.selectAttr" 
				dataset="vm.builder[step.dataKey]" 
				step="step"
				></chooser>



				<!--Fabric Chooser-->
				<fabric-chooser
				active="vm.builder.panel[vm.builder.step]==step"
				ng-if="step.panelTemplate=='fabric-chooser'" 
				on-click="chvm.selectAttr" 
				dataset="vm.builder[step.dataKey]" 
				step="step"
				></fabric-chooser>

				

				
				<!--Overview-->
				<div ng-if="step.panelTemplate=='list'" class="overview" >
					<div class="jean-overview" ng-init="vm.builder.overveiewOn = false">
						<a class="overview-trigger" ng-click="vm.builder.overviewOn=!vm.builder.overviewOn" href="">
							Overview <i ng-class="(vm.builder.overviewOn ? 'fa-angle-down' : 'fa-angle-up')" class="fa"></i>
						</a>
						<div class="jean-list" ng-class="(vm.builder.overviewOn ? 'show' :'hide')">
							<dl>
								<dt ng-repeat-start="(key, value) in vm.jean.data">{{key | scoreToSpace}}:</dt><!--
								--><dd ng-repeat-end>{{vm.dataLookup(key,value,"name")}}</dd>
							</dl>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		
		<div class="action" >
			<div class="cft-g action-grid">
				<div class="cft-gi">
					<a class="btn" href="#">
						Share <i class="fa fa-share" aria-hidden="true"></i>
					</a>
			  </div><!--
				--><div class="cft-gi">
					<a class="btn" href="#">
						Save <i class="fa fa-floppy-o" aria-hidden="true"></i>
					</a>
			  </div>
			</div>
			<a class="btn order" href="#">
				Order
			</a>
		</div>
		
		<div ng-show="vm.builder.panel[vm.builder.step].panelTemplate!='list'" class="active-item">
			<a href="#" id="item-title" class="item-title {{vm.builder.panel[vm.builder.step].jeanKey}}"
				ng-click="vm.builder.panel[vm.builder.step].jeanKey != 'fabric' || (vm.builder.infoPop=!vm.builder.infoPop)">
        {{ vm.builder.getActiveItemName() }}<i class="fa fa-question-circle"> </i>
			</a>
		</div>
		
		<h3 class="control-title">
			<div class="builder-control-container">		
				<a href="" class="fade builder-control-arrow" ng-show="vm.builder.step > 1" ng-click="vm.builder.panelDir='prev'; vm.builder.changeStep(vm.builder.step-1)">
					<i class="fa fa-angle-left"></i>
				</a>
				<a href="" class="fade builder-control-arrow" ng-show="vm.builder.step < vm.builder.panel.length-1" 
					ng-click="vm.builder.panelDir='next'; vm.builder.changeStep(vm.builder.step+1)">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
			{{vm.builder.panel[vm.builder.step].title}} <i ng-if="vm.builder.panel[vm.builder.step].title == 'Fabric'" ng-click="vm.popups.denim=true" class="denim-info-button fa fa-question-circle"></i>
		</h3>
		
	</div><!--/.control-panel-inner-->
	

	
