<h3>Choose a Gender</h3>

<div class="cft-g chooser-grid" id="gender-chooser">
	<span ng-class="{ live: chvm.jeanData.gender, active:active }" class="chooser-select" id="gender-selector"></span>
	<div class="cft-gi" ng-repeat="data in dataset | filter:checkGenderFilter(chvm.jeanData.gender)">
		<a ng-class="{ active: chvm.jeanData.gender==data.id }" id="gender_{{data.id}}" 
		href="" ng-click="chvm.selectAttr($event, data.id, 'gender')">
			<img src="/images/components/gender/thumb_{{data.id}}.jpg">
		</a>
	</div>
</div>
