<navigation></navigation>
<ng-include  src="'/pages/order/popups.html'"></ng-include>

<div class="container page-container">

  <div class="cft-g page-grid">
	  
    <div class="cft-gi main">
			<div class="page-title">
				<h1>Order <span class="sub-title">- Get your perfect fit</span></h1>
			</div>
			
			
			<!--Step 1-->
			<div class="order-step-1" ng-if="vm.orderForm.step==1">
      	<p>Every single pair of Blue Delta Jeans is tailored to your body. To ensure we are getting a perfect fit, there are 3 ways you can order your jeans:</p>
				<div class="fit-options">
					<div class="single-option" ng-class="{selected:vm.orderForm.data.fitType==1}">
						<h3>1. Get Fitted at Blue Delta</h3>
						<p>Visit our Oxford MS fitting room to be measured by a Blue Delta Specialist</p>
						<a href="" ng-click="vm.chooseFitType(1)" ng-class="{checked:vm.orderForm.data.fitType==1}" class="check-box"></a> 
						<span class="check-label">I'll get fitted at Blue Delta</span>
					</div>
					<div class="single-option" ng-class="{selected:vm.orderForm.data.fitType==2}">
						<h3>2. Get Fitted at a trusted tailor</h3>
						<p>We have Blue Delta Partners all over the USA</p>
						<a class="option-trigger" ng-click="vm.popups.tailors=true" href="">
							<span ng-if="!vm.orderForm.data.tailor">View a full list of tailors</span>
							<span ng-if="vm.orderForm.data.tailor">Change tailor</span>
						</a>
						
						<a href="" ng-click="vm.chooseFitType(2)" ng-class="{checked:vm.orderForm.data.fitType==2}" class="check-box"></a> 
						<span class="check-label">I'll get fitted at a Blue Delta Partner 
							<span ng-if="!vm.orderForm.data.tailor && vm.orderForm.data.fitType==2"><a ng-click="vm.popups.tailors=true" href="">(choose)</a></span> 
							<span ng-if="vm.orderForm.data.tailor">({{vm.orderForm.data.tailor.location}})</span>
						</span>
					</div>
					<div class="single-option" ng-class="{selected:vm.orderForm.data.fitType==3}">
						<h3>1. Clone your favorite jeans</h3>
						<p>Can't make it to a tailor? Do you already have a perfect fitting pair of jeans? We can CLONE them.</p>
						<a class="option-trigger" href="">Learn More</a>
						<a href="" ng-click="vm.chooseFitType(3)" ng-class="{checked:vm.orderForm.data.fitType==3}" class="check-box"></a> 
						<span class="check-label">I'll clone a pair of my jeans</span>
					</div>
				</div>
				<button class="btn" ng-class="{disabled : !vm.orderForm.data.fitType}" ng-click="vm.orderForm.nextStep()">Next <i class="fa fa-angle-right"></i></button>
			</div>
				
				
			<!--Step 2-->
			<div class="order-step-2" ng-if="vm.orderForm.step==2">
				<h3>Shipping Information</h3> 
				<p>Each pair of Blue Delta Jeans is made to fit and will take 4 - 6 weeks to arrive at your doorstep.</p>
				<form class="cft-form">
					<div class="cft-g form-grid">
						<div class="cft-gi">
							<div ng-class="{active:vm.orderForm.data.phone}" class="input-group">
								<input ng-model="vm.orderForm.data.phone" type="text">
								<label>Phone Number</label>
							</div>
						</div><!--
						--><div class="cft-gi">
							<div ng-class="{active:vm.orderForm.data.add1}" class="input-group">
								<input ng-model="vm.orderForm.data.add1" type="text">
								<label>Address Line 1</label>
							</div>
						</div><!--
						--><div class="cft-gi">
							<div ng-class="{active:vm.orderForm.data.add2}" class="input-group">
								<input ng-model="vm.orderForm.data.add2" type="text">
								<label>Address Line 2</label>
							</div>
						</div><!--
						--><div class="cft-gi">
							<div ng-class="{active:vm.orderForm.data.city}" class="input-group">
								<input ng-model="vm.orderForm.data.city" type="text">
								<label>City</label>
							</div>
						</div><!--
						--><div class="cft-gi">
							<div ng-if="vm.orderForm.data.country !== 'US'" ng-class="{active:vm.orderForm.data.region}" class="input-group">
								<input ng-model="vm.orderForm.data.region" ng-model="vm.orderForm.data.region" type="text">
								<label>State/Region</label>
							</div>
							<ng-include ng-if="vm.orderForm.data.country == 'US'" src="'/pages/order/states.html'"></ng-include>
						</div><!--
						--><div class="cft-gi">
							<ng-include src="'/pages/order/countries.html'"></ng-include>
						</div><!--
						--><div class="cft-gi">
							<div ng-class="{active:vm.orderForm.data.zip}" class="input-group">
								<input ng-model="vm.orderForm.data.zip" type="text">
								<label>Zip</label>
							</div>
						</div>
					</div>
					
					<div ng-class="{active:vm.orderForm.data.comments}" class="input-group">
						<textarea ng-model="vm.orderForm.data.comments" ></textarea>
						<label>Additional Comments</label>
					</div>
					
					<div class="info-box">

						<div ng-if="vm.orderForm.data.fitType==1" class="blue-delta-message">
							<h3>You are getting fitted in Oxford MS</h3>
							<p>After submitting your order, we will be in touch to schedule a fitting.</p>
						</div>
						
						<div ng-if="vm.orderForm.data.fitType==2" class="clone-message">
							<h3>You are getting fitted at one of our trusted partners ({{vm.orderForm.data.tailor.location}})</h3>
							<p>After submitting your order, we will be in touch to schedule a fitting.</p>
						</div>
						
						<div ng-if="vm.orderForm.data.fitType==3" class="clone-message">
							<h3>You are Cloning your jeans</h3>
							<p>After submitting your order, we will be in touch to walk you through the next steps.</p>
						</div>
						
						
						<a href="" ng-click="vm.orderForm.step=1">Change order method</a>	
					</div>
					
					<button class="btn">Place Order</button>
					
				</form>
			</div>
      
    </div><!--/.main
    
    --><div class="cft-gi sidebar">
	    <div class="jean-card">
		    <h3 class="box-title">Your Jean</h3>
		    <div class="box-content">
			    <img src="{{vm.jean.image}}">
		    </div>
	    </div>

	    
	  </div><!--/.sidebar-->
    
  </div><!--.page-grid-->
</div><!--./page-container