<div ng-show="vm.popups.tailors" ng-click="vm.popups.tailors = false" id="tailors-popup" class="popup-window">
	<div class="popup-content" ng-click="$event.stopPropagation()">
		<a class="popup-closer" href="" ng-click="vm.popups.tailors = false"></a>
		<div class="popup-content-inner">
			
			<h3 class="popup-title">Blue Delta Partner Tailors</h3>
			<h5 class="sub-title">Choose a tailor below. We will be in touch to organize a measurement.</h5>
			
			<div class="check-list">
				<ul class="tailor-list">
					<li  ng-repeat="check in vm.data.tailors | orderBy : 'location'">
						<input id="tailor_{{check.id}}" ng-checked="vm.orderForm.data.tailor==check.id" 
						ng-click="vm.orderForm.data.tailor==check.id ? vm.orderForm.data.tailor=null : vm.orderForm.data.tailor=check.id"
						value="{{check.id}}" type="checkbox">
						<label for="tailor_{{check.id}}">{{check.location}}</label>
					</li>
				</ul>
			</div>
			
			<button ng-click="vm.popups.tailors=false" class="btn" ng-class="{disabled : vm.orderForm.data.tailor==null}">Choose Tailor</button>	
		</div><!--./popup-content-inner-->
	</div>
</div>
