<navigation></navigation>

<div class="container">

	<h1 class="form-signin-heading">Sign in</h1>
  <p>Not a member? Please <a href="register">register</a> instead.</p>
  
  <form class="login-form" ng-submit="vm.login(vm.credentials.email, vm.credentials.password)">
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="vm.credentials.email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.credentials.password">
    </div>
    <button type="submit" class="btn btn-default">Sign in!</button>
   </form>
	 
	 <br>
	 <button ng-click="vm.loginFB()" class="btn"><i class="fa fa-facebook"></i>&nbsp;&nbsp;Log In with Facebook</button>
	 
	 <br><br>
	 <button ng-click="vm.loginFB()" class="btn"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;Log In with Google+</button>
	 
	  <div class="message-block" ng-show="vm.messages.message">
	  	<p class="form-messages {{vm.messages.type}}" ng-bind-html="vm.messages.message"></p>
		</div>
  
</div>
