
<div class="images" id="zoom-frame" hm-drag="isvm.dragPan(s, $event)" ng-class="{'zoomed': isvm.zoom, 'centered':isvm.centerPan}" 
		hm-tap="isvm.toggleZoom()" ng-touch="isvm.zoom = !isvm.zoom" ng-mouseleave="isvm.returnPan()" ng-mousemove="isvm.trackMouse($event)">
		<img ng-if="isvm.jean.data.fabric" ng-class="{'zoom': isvm.zoom }"
		src="/images/components/fabrics/g{{isvm.jean.data.gender}}_s{{isvm.jean.data.style}}_f{{isvm.jean.data.fabric}}.jpg">		
		<img ng-if="isvm.jean.data.bottom_thread" ng-class="{'zoom': isvm.zoom }"
		src="/images/components/threads/g{{isvm.jean.data.gender}}_s{{isvm.jean.data.style}}_tb{{isvm.jean.data.bottom_thread}}.png">
		<img ng-if="isvm.jean.data.top_thread" ng-class="{'zoom': isvm.zoom }"
		src="/images/components/threads/g{{isvm.jean.data.gender}}_s{{isvm.jean.data.style}}_tt{{isvm.jean.data.top_thread}}.png">
		<img ng-if="isvm.jean.data.accent_thread" ng-class="{'zoom': isvm.zoom }"
		src="/images/components/threads/g{{isvm.jean.data.gender}}_s{{isvm.jean.data.style}}_ta{{isvm.jean.data.accent_thread}}.png">
		<img class="stage-button" ng-if="isvm.jean.data.hardware != 1"
		src="/images/components/hardware/thumb_{{isvm.jean.data.hardware}}.jpg">
	</div>
	<a class="zoom-icon" ng-click="isvm.toggleZoom()" href="">
		<i class="fa fa-search-plus" aria-hidden="true"></i>
	</a>
</div>