/* You can add global styles to this file, and also import other style files */
/* Custom CSS */
@import './app/theme/css/AdminLTE.min.css';

.datepicker-container[_ngcontent-c11] .datepicker-input-container[_ngcontent-c11] .datepicker-input[_ngcontent-c11] {
  width: 75% !important;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: #d2d6de !important;
  color: #000;
}
