//Customizer
h1.page-title{
	color:$blue;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}
.customizer-page-content{
	margin-bottom: 0px;
	position:relative;
}
.button-container{
	overflow:hidden;
	position:absolute;
	bottom:0;
	width:100%;
	height:40px;
}
.step-buttons{
	position:absolute;
	width:106%;
	margin-left:-3%;
	a.btn{
		-ms-transform: skewX(-20deg); /* IE 9 */
    -webkit-transform: skewX(-20deg); /* Safari */
    transform: skewX(-20deg);
		display:inline-block;
		width: 33.083%;
    margin-right: 0.25%;
		text-align: center;
		p{
			margin:0;
			-ms-transform: skewX(20deg)!important; /* IE 9 */
			-webkit-transform: skewX(20deg)!important; /* Safari */
			transform: skewX(20deg)!important;
		}
		&.inactive{
			background:#a5a5a5;
			color: darken(#a5a5a5, 40%);
		}
	}
}
//Gender
.gender-grid {
	width: 800px;
	margin: 0 auto;
	.cft-g{
		&>.cft-gi{
			width:100%;
			@include at-query($min, 450px){
				width:50%;
			}
		}
	}
}


.customizer-page{
	 .gender-grid{
		 img{
			 width:100%;
		 }
	 }
}


//Style
.cft-g.style-grid{
	&>.cft-gi{
		width:100%;
		@include at-query($min, 450px){
			width:33.333%;
		}
	}
	h3 {
		text-align: center;
	}
}


.fade {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.fade.ng-hide {
	opacity: 0;       
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.fade.active{
	position:relative!important;
}
.fade.ng-hide-add,
.fade.ng-hide-remove {
	position:absolute;
	left:0;
	top:0;
	-webkit-transition: 300ms linear all;
	transition: 300ms linear all;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}




.image-slider{

	width:100%;
	.image-container{
		transition:700ms ease all;
		-webkit-transition:700ms ease all;
		width:100%;
		overflow:hidden;
		opacity:0;
		max-height:50px;
	}
	&.loaded{
		.image-container{
			opacity:1;
			max-height:999px;
		}
	}
	position:relative;
	.slider-controls{
		position:absolute;
		top:50%;
		margin-top:-18px;
		height:36px;
		width:36px;
		background: rgba(255,255,255,0.5);
		border:2px solid $blue;
		border-radius:50%;
		-moz-border-radius:50%;
		-webkit-border-radius:50%;
		-o-border-radius:50%;
		&:before, &:after{
			display:block;
			width:12px;
			height:2px;
			background:$blue;
			content:"";
		}
		&:before{
			transform:rotate(-45deg);
			top: 11px;
			position: absolute;
			left: 8px;
		}
		&:after{
			transform: rotate(45deg);
			top: 19px;
			position: absolute;
			left: 8px;
		}
		&.left-arrow{
			left: 5px;
		}
		&.right-arrow{
			right: 5px;
			&:before{
				top: 19px;
				left: 11px;
			}
			&:after{
				top: 11px;
				left: 11px;
			}
		}
		
	}
}
.customizer-page{
	 .style-grid{
		 img{
			 width:100%;
		 }
	 }
}


//Builder
.builder__control-panel{
	position:absolute;
	right:0;
	width:360px;
	top:0;
	height:60vh;
	.control-panel-inner{
		position:relative;
		.control-title{
			text-transform: uppercase;
			color:$blue;
			margin-bottom:5px;
			background: #004964;
			color: #ffffff;
			margin-bottom: 0;
			padding: 15px;
			font-weight:600;
			@include font-size(18,18);
		}
		.switch{
			position:absolute;
			top: 48px;
			right:100%;
			ul{
				list-style-type:none;
				li{
					background:darken($lightGrey, 20%);
					a{
						display:block;
						width:40px;
						height:40px;
						text-align: center;
						line-height:40px;
						color:#fff;
					}
					&.active{
						background:#ffffff;
						a{color:$blue;}
					}
				}
			}
		}
		.build-step-stage{
			height:400px;
			overflow:auto;
			padding:15px;
			padding-bottom:0;
			position:relative;
			background:#ffffff;
			.chooser{
				.chooser-select{
					pointer-events: none;
					top:0;
					left:0;
					opacity:0;
					&.live{
						opacity:1;
					}
					width:100px;
					height:100px;
					border:3px solid #91b6c3;
					position:absolute;
					display: block;
					&::after {
						width: 40px;
						height: 40px;
						margin: auto;
						border-radius: 50%;
						margin: 26px auto 0;
						background: rgba(255,255,255,0.5);
						border: 3px solid #004964;
						display: block;
						font-family: FontAwesome;
						content: "\f00c";
						text-align: center;
						color: $blue;
						line-height: 34px;
					}
					@include transition(all,300ms,ease);
				}
					
				
				.chooser-grid{
					margin-left:-15px;
					img{
						width:100%;
						margin-bottom:0;
						display:block;
					}
					a{
						display:block;
						transition:all 300ms ease;
					}
				}
			}
		}
	}
}

.cft-g.chooser-grid{
	margin-left:-15px;
	& >.cft-gi{
		width:33.333%;
		padding-left:15px;
		margin-bottom:15px;
	}
}



.builder__stage{
	width: 100%;
  position: relative;
  min-height: 600px;
  background: #ebebeb;
	display:block;
	img{
		position:absolute;
		left: 35%;
    margin-left: -150px;
    height: 600px;
		display:inline-block;
		@media screen and (min-width: 1200px) {
			height: 700px;
		}
		&.stage-button{
	    right: 150px;
	    width: 84px;
	    height: auto;
      top: 45px;
	    margin-left: 0;
	    left: auto;
		}
	}
}

.action {
	background: #bebebe;
	padding: 15px;
	.cft-g {
		margin-left: -10px;
	}
	.cft-gi {
		width: 49.3%;
		padding-left: 10px;
		margin-bottom: 10px;
		.btn {
			background: #7198a7;
			i {
				display: inline-block;
				margin-left: 6px;
			}
		}
	}
	.btn {		
		width: 100%;
	}

}

//Zoom
.builder__stage{
	overflow:hidden;
	
	a.zoom-icon{
		display:none;
		/*
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    @include font-size(30,30);
    padding: 10px;
    background: rgba(255,255,255,0.5);
    */
	}
		
 #zoom-frame{
		width: 70%;
    height: 600px;
		display:block;
		position:relative;
		&:hover{
			cursor:url(../images/search-plus.png), zoom-in;
		}
		&.zoomed{
			&:hover{
				cursor:url(../images/search-minus.png), zoom-out;
			}
			img:hover{
				cursor:url(../images/search-minus.png), zoom-out;
			}
		}
		@media screen and (min-width: 1200px) {
			height: 700px;
		}
	
		img{
			&:hover{
				cursor:url(../images/search-plus.png), zoom-in;
			}
			@include transition(transform, 400ms, ease);
			&.zoom{
				@include transform(scale(3));
			}
		}
		
	}
}