@import "components/variables";
@import "components/mixins";
@import "components/reset";
@import "components/grid";
@import "components/typography";
@import "components/buttons";



.repeat-item.ng-enter, 
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

body{
	position:relative;
	min-height:100vh
}
//Site Setup
.container{
	padding: 0 20px;
	max-width:1200px;
	display:block;
	margin:auto;
	position:relative;
	&.thin{
		max-width:800px;
	}
}

//Navigation
.main-navigation{
	background: $blue;
	height:69px;
	display:block;
	position:relative;
	padding-top: 16px;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	.container {
		padding: 0 20px;
	}
	.head-left{
		float:left;
		#home-link{
			width:200px;
			margin-top: -10px;
			display: inline-block;
			img{
				width:100%;
				-webkit-backface-visibility: hidden;
			}
		}
		.title {
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
			vertical-align: top;
			margin-top: 6px;
			display: inline-block;
			@include font-size(14, 26);
			@media screen and (min-width: 1200px) {
				@include font-size(18, 26);
			}
		}
	}
	
	nav{
		position:relative;
		.btn{
			background:darken($blue, 7%);
			&:hover{
				background:darken($blue,15%);
			}
		}
		
		//Right Nav
		&.nav-right{
			float:right;
			ul{
				li{
					display:inline-block;
					margin-left:15px;
					@media screen and (min-width: 1200px) {
						margin-left:40px;
					}
					vertical-align: middle;
					&:last-child{
						margin-right:0;
					}
					a{
						@include font-size(14, 26);
						@media screen and (min-width: 1200px) {
							@include font-size(18, 26);
						}
						color:#fff;
						text-transform: uppercase;
						letter-spacing: 2px;
						&:hover{
							color:darken(#fff,20%);
						}
					}
				}
			}
			.btn.logout, .btn.sign-in{
				background:tint($blue, 25%);
				@include font-size(18, 22);
				&:hover{
					background: tint($blue, 17%);
				}
			}
		}
		
		
	}
}



//Home
.hero{
	background:url('../images/denim-1.jpg');
	background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
  margin-top: -69px;
  text-align: center;
  color: #ffffff;
	h1{
		padding-top: 150px;
		color:#fff;
		@include font-size(50,60);
		text-transform: uppercase;
		text-align: center;
	}
	h3 {
		@include font-size(28,36);
		margin-bottom: 60px;
		color: #ffffff;
	}
}

.intro-text{
	text-align:center;
	.callouts{
		max-width:600px;
		margin:30px auto;
		a{
			background:$blue;
			&:hover{
				background: tint($blue, 17%);
			}
			padding:20px;
			@include font-size(30, 35);
			display:block;
			width:48%;
			margin: 0 auto 20px;
			&.secondary{
					background:#acacac;
				&:hover{
					background: darken(#acacac, 10%);
				}
			}
		}
	}
}
	
	
//Login/Register
form.login-form, form.register-form{
	max-width:500px;
	.form-group{
		margin-bottom:15px;
		label{
			display:block;
			font-size:12px;
			margin-bottom:5px;
			line-height:15px;
			font-weight:700;
			color:lighten($colorText,30%);
		}
		input{
			display:block;
			width:100%;
		}
	}
	button.btn{
		margin-top:10px;
		padding: 8px 20px;
	}
}

//Popups
.popup-window{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(darken($blue,15%),.7);
	z-index:9999;
	.popup-title{
		margin-bottom:60px;
		text-align: center;
		@include font-size(30,36);
		&.section{
			margin:20px auto 40px auto;
		}
	}
	.popup-closer{
		position:absolute;
		top:0;
		right:0;
		z-index:10;
		background:#ebebeb;
		display:block;
		width:50px;
		height:50px;
		&:before, &:after{
			width:40px;
			height:3px;
			background:$blue;
			position:absolute;
			display:block;
			content:"";
			top:43px;
			left:25px;
			margin-top:-20px;
			margin-left:-20px;
		}
		&:before{
			@include transform(rotate(-45deg));
		}
		&:after{
			@include transform(rotate(45deg));
		}
		
	}

	.popup-content{
		text-algin:center;
		position:absolute;
		left:0;
		right:0;
		background:#fff;
		top:10%;
		width:90%;
		margin:auto;
		max-width:1050px;
		.popup-content-inner{
			max-height:80vh;
			overflow: auto;
			padding:20px 30px;
			@include at-query($min,650px){			
				padding:40px 60px;
			}
			position:relative;
		}
	}
}

.hiw-popup-grid{
	margin-left:-115px;
	&>.cft-gi{
		padding-left:115px;
		width:100%;
		position: relative;
		.box-content{
			background:#f1f1f1;
			padding:20px;
		}
		&:first-child{
			margin-bottom:115px;
			&:after{
				content:"OR";
				display:block;
				position:absolute;
				left:0;
				right:0;
				bottom:-70px;
				padding-left:113px;
				font-weight:500;
				text-align: center;
				color:$blue;
				@include font-size(24,32);
			}
		}
		@include at-query($min, 700px){
			width:50%;
			&:first-child{
				margin-bottom:0;
				&:after{
					bottom:auto;
					top:50%;
					right: -82px;
					left: auto;
					width: 50px;
					display: inline-block;
					padding: 0;
				}
			}
		}
	}
}
@import "customizer";