@import "components/variables";
@import "components/mixins";
@import "components/reset";
@import "components/grid";
@import "components/typography";
@import "components/buttons";



.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

body{
	position:relative;
	min-height:100vh
}
//Site Setup
.container{
	padding: 20px;
	max-width:1200px;
	display:block;
	margin:auto;
	position:relative;
	&.thin{
		max-width:800px;
	}
}

//Navigation
.main-navigation{
	background: $blue;
	height:69px;
	display:block;
	position:relative;
	padding-top: 16px;
	&:after{
		content:"";
		display:block;
		clear:both;
	}
	.container {
		padding: 0 20px;
	}
	.head-left{
		float:left;
		#home-link{
			width:200px;
			margin-top: -10px;
			display: inline-block;
			img{
				width:100%;
				-webkit-backface-visibility: hidden;
			}
		}
		.title {
			color: #ffffff;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 2px;
			vertical-align: top;
			margin-top: 6px;
			display: inline-block;
		}
	}
	
	nav{
		position:relative;
		.btn{
			background:darken($blue, 7%);
			&:hover{
				background:darken($blue,15%);
			}
		}
		
		//Right Nav
		&.nav-right{
			float:right;
			ul{
				li{
					display:inline-block;
					margin-left:40px;
					vertical-align: middle;
					&:last-child{
						margin-right:0;
					}
					a{
						@include font-size(18, 26);
						color:#fff;
						text-transform: uppercase;
						letter-spacing: 2px;
						&:hover{
							color:darken(#fff,20%);
						}
					}
				}
			}
			.btn.logout, .btn.sign-in{
				background:tint($blue, 25%);
				@include font-size(18, 22);
				&:hover{
					background: tint($blue, 17%);
				}
			}
		}
		
		
	}
}



//Home
.hero{
	background:url('../images/denim-1.jpg');
	background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
  margin-top: -69px;
  text-align: center;
  color: #ffffff;
	h1{
		padding-top: 150px;
		color:#fff;
		@include font-size(50,60);
		text-transform: uppercase;
		text-align: center;
	}
	h3 {
		@include font-size(28,36);
		margin-bottom: 60px;
	}
}

.intro-text{
	text-align:center;
	.callouts{
		max-width:600px;
		margin:30px auto;
		a{
			background:$blue;
			&:hover{
				background: tint($blue, 17%);
			}
			padding:20px;
			@include font-size(30, 35);
			display:block;
			width:48%;
			margin: 0 auto 20px;
			&.secondary{
					background:#acacac;
				&:hover{
					background: darken(#acacac, 10%);
				}
			}
		}
	}
}
	
	
//Login/Register
form.login-form, form.register-form{
	max-width:500px;
	.form-group{
		margin-bottom:15px;
		label{
			display:block;
			font-size:12px;
			margin-bottom:5px;
			line-height:15px;
			font-weight:700;
			color:lighten($colorText,30%);
		}
		input{
			display:block;
			width:100%;
		}
	}
	button.btn{
		margin-top:10px;
		padding: 8px 20px;
	}
}


@import "customizer";