<div ng-show="vm.landscape" class="landscape-message">
	<div class="text-container">
		<div class="icon-container">
			<i class="fa fa-mobile" aria-hidden="true"></i>
			<i class="fa fa-thumbs-down" aria-hidden="true"></i>
		</div>
		<h3>This customizer works best in Portrait mode.</h3>
		<p>Please rotate your device to continue.</p>
	</div>
</div>
<navigation></navigation>



<!--
	<div class="container">
	  <div class="box rotate"></div>
	</div>
	-->
	<h1 ng-if="vm.jean.step != 3"class="page-title">{{vm.form.steps[vm.jean.step].title}}</h1>

  	<!--Jean: {{vm.jean.data}}
	<br>Step:{{vm.jean.step}}-->

	
	
  <div class="customizer-page-content">
		<ng-include src="vm.form.steps[vm.jean.step].template"></ng-include>
  </div>




<div class="button-container">
	<div class="step-buttons">
		<a class="btn"
		ng-class="vm.jean.step=='1' ? 'acitve' : 'inactive'" 
		ng-click="vm.jean.step = 1"
		href=""><p>{{vm.form.steps[1].title}}</p></a><!--
		--><a class="btn"
		ng-class="vm.jean.step=='2' ? 'acitve' : (vm.jean.data.gender ? 'inactive' : 'disabled')" 
		ng-click="vm.jean.step = 2"
		href=""><p>{{vm.form.steps[2].title}}</p></a><!--
		--><a class="btn"
		ng-class="vm.jean.step=='3' ? 'acitve' : (vm.jean.data.gender && vm.jean.style ? 'inactive' : 'disabled')" 
		ng-click="vm.jean.step = 3"
		href=""><p>{{vm.form.steps[3].title}}</p></a>
	</div>
</div>