<navigation></navigation>
<ng-include  src="'/pages/closet/popups.html'"></ng-include>

<div class="container page-container">
  <div class="cft-g page-grid">
	  
    <div class="cft-gi main">
		  <div class="page-title">
				<h1>{{vm.user.name}}'s Closet</h1>
			</div>
			
      <div class="jean-closet">	      
	      
	      <!--Production-->
	      <div ng-if="(vm.orders | filter:{ userId: vm.idid, status: '!complete' }).length" class="production">
		      <h3>On the Way</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="order in vm.orders | filter:{ userId: vm.idid, status: '!complete' }" class="cft-gi">
				      <div class="jean-card">
								<img ng-click="ovm.selectJean(order.orderItems[0].jean)" ng-src="{{order.orderItems[0].jean.imageURL}}">
								<div class="box-content">
						      <!--<h4 ng-click="vm.selectJean(order.orderItems[0].jean)">{{jean.name}}</h4>-->
									<h5>{{order.status}}</h5>
									<h5>EST ARRIVAL: AUGUST 4, 2017</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      
	      <!--Owned-->
	      <div ng-if="(vm.orders | filter:{ userId: vm.idid, status: 'complete'  }).length" class="complete">
		      <h3>My Blue Delta Jeans</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="order in vm.orders | filter:{ userId: vm.idid, status: 'complete' }" class="cft-gi">
				      <div class="jean-card">
					      <img ng-click="ovm.selectJean(order.orderItems[0].jean)" ng-src="{{order.orderItems[0].jean.imageURL}}">
								<div class="box-content">
					      	<!--<h4 ng-click="vm.selectJean(jean)">{{jean.name}}</h4>-->
									<h5>Born: {{order.createTime | date : "longDate" : "CST" }}</h5>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>

	      <!--Saved-->
				<div ng-if="(vm.user.jeans | filter:{ ordered : '!true' }).length" class="saved">
		      <h3>Saved For Later</h3>
		      <div class="cft-g jean-grid">
			      <div ng-repeat="jean in vm.user.jeans | filter:{ ordered : '!true' }" class="cft-gi">
				      <div class="jean-card">
					      <img ng-src="{{jean.imageURL}}">
								<div class="box-content">
									<div ng-if="!jean.deleting">
										<a href="/customizer/{{jean.jeanId}}/{{vm.user.identityId}}">Edit</a> | <a href="" ng-click="vm.orderJean(jean)">Order</a> | <a ng-click="jean.deleting=true" href="">Delete</a> 
									</div>
									<p class="delete-jean" ng-if="jean.deleting">Delete this jean? <br><a ng-click="vm.deleteJean(jean.jeanId)" href="">Yes</a> | <a href="" ng-click="jean.deleting=false">No</a></p>
								</div>
				      </div>
			      </div>
		      </div>
	      </div>
	      
	      <!--No Jeans-->
	      <div ng-if="vm.data.jeansList.length == 0" class="no-jeans">
				  <p>There are no jeans in your closet. <a href="/customizer">Create your first pair!</a></p>
	      </div>
	      
      </div><!--/.jean-closet-->
      
    </div><!--/.main
    
    --><div class="cft-gi sidebar">
	    <div class="user-card">
		    <h3 class="box-title">Your Profile</h3>
		    <div class="box-content">
			    <h4>{{vm.user.name}}</h4>
			    <h5 ng-repeat="add in vm.user.address | filter:{primary:'true'} | limitTo:1">{{add.city}}, {{add.state}}</h5>
			    <a ng-click="vm.popups.editUser=true" href="">Edit Account info <i class="fa fa-edit"></i></a>
		    </div>
	    </div>
    </div><!--/.sidebar-->
    
  </div><!--.page-grid-->
</div><!--./page-container