<div>
  <div align='center'>
    <button float-left margin ion-button (click)="orderService.loadJeanResources()"><ion-icon name="refresh"></ion-icon></button>
    <button float-left margin ion-button *ngIf="!orderService.orderInCreation" (click)="orderService.startOrderCreate()"><ion-icon name="create"></ion-icon></button>
  </div>
</div>
<form [formGroup]="orderService.orderCreateForm">
  <div *ngIf="orderService.orderInCreation">


<!--      <ion-item>
        <ion-select formControlName="thread" (ionChange)="orderService.updateDefaultThread($event)">
            <ion-option value="{{ thread.threadId }}" *ngFor="let thread of orderService.threadList">{{ thread.name }}</ion-option>
        </ion-select>
      </ion-item>-->

<!--      <ion-item>
        <ion-select formControlName="button" (ionChange)="orderService.updateDefaultButton($event)">
            <ion-option value="{{ button.buttonId }}" *ngFor="let button of orderService.buttonList">{{ button.name }}</ion-option>
        </ion-select>
      </ion-item>-->

<!--      <ion-item>
        <ion-select formControlName="fabric" (ionChange)="orderService.updateDefaultFabric($event)">
            <ion-option value="{{ fabric.fabricId }}" *ngFor="let fabric of orderService.fabricList">{{ fabric.name }}</ion-option>
        </ion-select>
      </ion-item>-->

      <!--<ion-item>
        <ion-range formControlName="waist" (ionChange)="orderService.logShit(($event.ratio) )">
          <ion-icon range-left small name="sunny"></ion-icon>
          <ion-icon range-right name="sunny"></ion-icon>
        </ion-range>
      </ion-item>


      <ion-item>
        <ion-label>Waist</ion-label>
        <ion-input (ionChange)="orderService.updateDefaultWaist($event)" type="number" formControlName="waist"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Leg</ion-label>
        <ion-input type="number" formControlName="leg"></ion-input>
      </ion-item>-->

      <button ion-button (click)="orderService.exitOrderCreate()"><ion-icon name="arrow-back"></ion-icon></button>
      <button ion-button (click)="orderService.logShit(orderService.orderCreateForm.value)"><ion-icon name="checkmark"></ion-icon></button>
  </div>
</form>
